@using Errordite.Web.Extensions

<h1 class="section-header border">Django Client</h1>
<p>
    The Django client is provided in the form of a standard Python logging handler. For full details of the client, go to the GitHub repository here.
</p>
<p>
    <a href="@Url.DjangoClientGitHub()" target="_blank">@Url.DjangoClientGitHub()</a>
</p>
<p>
    The library is available at pypi as 'django-errordite', and can therefore be installed using pip:
</p>
<pre class="prettyprint textonly">
$ pip install django-errordite
</pre>