@using Errordite.Web.Extensions

<h1 class="section-header border">Python Client</h1>
<p>
    The Python client comes in two flavours: Django, and general-purpose Python. For full details of the clients, go to their GitHub repositories:
</p>
<p>
    <a href="@Url.PythonClientGitHub()" target="_blank">@Url.PythonClientGitHub()</a>
</p>
<p>
    <a href="@Url.DjangoClientGitHub()" target="_blank">@Url.DjangoClientGitHub()</a>
</p>
<p>
    The libraries are available in pypi so can be installed using pip:
</p>
<pre class="prettyprint textonly">
$ pip install errordite
</pre>

<p>or</p>

<pre class="prettyprint textonly">
$ pip install django-errordite
</pre>

