@using Errordite.Web.Extensions

<h1 class="section-header border">Python Client</h1>
<p>
    The Python client is provided in the form of a standard Python logging handler. For full details of the client, go to the GitHub repository here.
</p>
<p>
    <a href="@Url.PythonClientGitHub()" target="_blank">@Url.PythonClientGitHub()</a>
</p>
<p>
    The library is available at pypi as 'errordite', and can therefore be installed using pip:
</p>
<pre class="prettyprint textonly">
$ pip install errordite
</pre>