@using Errordite.Web.Extensions

<h1 class="section-header border">Ruby Client</h1>
<p>
    The Ruby client is an open source library hosted on GitHub, full client details including installation instructions can be found here.    
</p> 
<p>
    <a href="@Url.RubyClientGitHub()" target="_blank">@Url.RubyClientGitHub()</a>
</p>