@using Errordite.Web.Extensions

<h1 class="with-sidenav">Ruby Client</h1>
<p>
    The Ruby client is an open source library hosted on GitHub.  It supports all major Ruby web frameworks and its Gem name is 'errordite'.
</p> 
<p>
    <a href="@Url.RubyClientGitHub()" target="_blank">@Url.RubyClientGitHub()</a>
</p>

<p>Please note: Documentation is on its way!</p>
