<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="RavenDB.AspNetHost" version="1.2.2133-Unstable" targetFramework="net40" />
  <package id="RavenDB.Database" version="1.2.2133-Unstable" targetFramework="net40" />
</packages>