<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Raven/DataDir" value="~\Data" />
    <add key="Raven/AnonymousAccess" value="Admin" />
    <add key="Raven/Port" value="80" />
  </appSettings>
  <system.web>
    <httpRuntime maxQueryStringLength="4096" maxUrlLength="4096" executionTimeout="600" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" />
    <authentication mode="Windows" />
    <identity impersonate="true" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="All" path="*" verb="*" type="Raven.Web.ForwardToRavenRespondersFactory, Raven.Web" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <!-- if the query string is longer than this (or possibly the maxQueryStringLength param above) we get a 404, which leads to a "THere -->
        <requestLimits maxQueryString="4096" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Analyzers" />
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.4673.24930" newVersion="1.13.4673.24930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4673.24930" newVersion="1.7.4673.24930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://dev-raven.errordite.com" />
    <add name="RavenDB" connectionString="Url=http://localhost:8080" />
  </connectionStrings>
</configuration>