
<div class="dashboard-item">
	<div class="bar">
		
	</div>	
	<div class="content">
		<div class="info-name">
			
		</div>
		<div class="info-items">
			<div class="info-item"></div>
		</div>
	</div>
</div>
        