<div id="issue-breakdown" class="modal hide" style="width:800px;">
    <div class="modal-header">
        <h4 class="formodal">Highest Occuring Issues: <span></span></h4>
    </div>
    <div class="modal-body">
	    <table id="issues" class="table table-condensed table-bordered graph-table">
		    <tbody></tbody>
	    </table>
    </div>   
    <div class="modal-footer">
        <button id="close-modal" class="btn btn-small btn-blue" data-dismiss="modal">Close</button>
    </div>
</div>
