@model Errordite.Web.Models.Issues.IssueItemViewModel

<div class="dashboard-item">
	<div class="bar">&nbsp;</div>	
	<div class="content">
		<div class="info-row">
			<div class="info-item-heading">
				Name
			</div>
			<div class="info-item">
				@Model.Name
			</div>
		</div>
		<div class="info-row">
			<div class="info-item"></div>
		</div>
	</div>
</div>
        