<div id="issue-breakdown" class="modal hide">
    <div class="modal-header">
        <h4 class="formodal">Issue Breakdown</h4>
    </div>
    <div class="modal-body">
	    <table id="issues" class="table table-condensed table-bordered">
		    <tbody></tbody>
	    </table>
    </div>   
    <div class="modal-footer">
        <button class="btn btn-small btn-grey" data-dismiss="modal">Close</button>
    </div>
</div>
