<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
        <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
        <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    </configSections>

    <!--  NServiceBus logging level -->
    <Logging Threshold="DEBUG" />

    <MessageForwardingInCaseOfFaultConfig ErrorQueue="Errordite.Reception.Service.Error"/>

    <MsmqTransportConfig
       NumberOfWorkerThreads="1"
       MaxRetries="3" />

    <log4net configSource="config\log4net.config" />

    <connectionStrings>
        <add name="RavenDB" connectionString="Url = http://dev-raven.errordite.com;" />
        <!--By default NSB tries localhost:8080, which conflicts with Tomcat.  It's used by
        the Timeout Manager of NSB but I don't really know what this is; something to do with Sagas.
        I don't think it actually uses Raven in live.
        -->
        <add name="NServiceBus.Persistence" connectionString="Url = http://dev-raven.errordite.com;"/>
    </connectionStrings>

    <castle>
        <include uri="file://Config/cache.config" />
        <include uri="file://Config/errordite.config" />
        <include uri="file://Config/email.config" />
        <include uri="file://Config/services.config" />
    </castle>

    <!--<system.net>
    <defaultProxy>
      <proxy
          usesystemdefault="False"
          bypassonlocal="False"
          proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>-->

    <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <publisherPolicy apply="no" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>