
@model Errordite.Web.Areas.System.Models.System.ErrorditeErrorsViewModel

@{
    ViewBag.Title = "Errors";
}

<section class="centered" id="errordite-errors">
    <div class="content">
        @Html.Partial("System/Errors", Model)
    </div>
</section>  