
@using Errordite.Web.Models.Groups
@model GroupMemberViewModel

<li>
    @Html.HiddenFor(m => m.Id)
    @Html.CheckBoxFor(m => m.Selected) <span>@Html.LabelFor(m => m.Selected, Model.Name)</span>
</li>



