
@using Errordite.Web.Models.Notifications
@model NotificationViewModel

<li>
    <span>@Model.Name</span>
    @Html.HiddenFor(m => m.Type)
    @Html.HiddenFor(m => m.Id)
    <div class="custom-select notifications border">
        <ul>
            @Html.EditorFor(m => m.Groups)
        </ul>
    </div>
</li>





