        
<div class="modal hide" id="stats-modal">
    <div class="modal-header">
        <h4>Organisation Stats</h4>
    </div>
    <div class="modal-body">
        <table id="stats" class="table table-condensed"></table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-small btn-blue" data-dismiss="modal">OK</button>
    </div>
</div>