@using CodeTrip.Core.Web
@model Errordite.Web.Areas.System.Models.Organisations.SuspendOrganisationViewModel
           
<div class="modal hide" id="suspend-modal">
    @using (Html.BeginForm("suspendorganisation", "organisations", FormMethod.Post, new { id = "suspendForm" }))
    {
        @Html.HiddenFor(m => m.OrganisationId)
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">x</a>
            <h3>Suspend Organisation</h3>
        </div>
        <div class="modal-body">
            <div class="form">
                <ul>
                    <li>
                        <label class="control-label" for="AssignToUser">Suspend Reason</label>
                        @Html.DropDownListForEnum(m => m.Reason, Resources.Admin.ResourceManager)
                    </li>
                    <li>
                        @Html.TextAreaFor(m => m.Message, new {placeholder = "Enter a message..."})
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success">OK</button>
            <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
    }
</div>