
@model Errordite.Web.Models.Applications.ApplicationsViewModel
                   
@{
    ViewBag.Title = "Applications";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Applications</h1>
    </div>
    
    <div class="border"></div>
}

<div id="applications" class="colfull">

    @if (Model.Applications != null && Model.Applications.Any())
    {
        @Html.Partial("Applications/List", Model)
    }
    else
    {
        <div>
            <p>No applications were found.</p>   
        </div> 
    }
</div>