@using Errordite.Web.Extensions
<div class="base left-slim">
    <h2>Big<span>$70.00 / Month</span></h2>
    <div class="base-content">
        <ul>
            <li>250 Issues</li>
            <li>30 Users</li>
            <li>30 Applications</li>
        </ul>
        <a class="btn btn-success" href="@Url.SignUp()">Sign Up Now</a>
    </div>
</div>