@using Errordite.Web.Extensions
<div class="base left-slim">
    <h2>Small<span>$30.00 / Month</span></h2>
    <div class="base-content">
        <ul>
            <li>100 Issues</li>
            <li>5 Users</li>
            <li>5 Applications</li>
        </ul>
        <a class="btn btn-success" href="@Url.SignUp()">Sign Up Now</a>
    </div>
</div>