
@using Errordite.Web.Models.Subscription
@model SubscriptionViewModel
           
@{
    ViewBag.Title = "Billing History";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
	<div class="content">
		<div class="sidenav">
			@Html.Partial("Subscription/SubscriptionTabs", SubscriptionTab.BillingHistory)
			<div class="sidenav-content">
				<div class="sidenav-tab active">
					You do not currently have any billing history.
				</div>
			</div>
		</div>
	</div>
</section>


