
@using Errordite.Web.Models.Account
@model Errordite.Web.Models.Subscription.SubscriptionViewModel
           
@{
    ViewBag.Title = "Cancel Subscription";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
    <div class="content">
        <div class="sidenav">
            @Html.Partial("Subscription/SubscriptionTabs", SubscriptionTab.Cancel)
            <div class="sidenav-content billing">
                <div class="sidenav-tab active" id="cancel">
                    Cancel your subscription here
                </div>
            </div>
        </div>
    </div>
</section>


