
@using Errordite.Web.Models.Subscription
@model ChangeSubscriptionViewModel
           
@{
    ViewBag.Title = "Change Subsciption";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
    <div class="content">
        <div class="sidenav">
            @Html.Partial("Subscription/SubscriptionTabs", SubscriptionTab.Change)
            <div class="sidenav-content billing">
                <div class="sidenav-tab active">
                    <p>
                        You have opted to change your subscriptipn from the <b></b> plan to the <b></b> plan. You new monthly subscription bill will
                        be for <b></b>. We will process your 
					</p>
					@using (Html.BeginForm("dochangesubscription", "subscription", FormMethod.Post, new {id = "change"}))
					{
						@Html.HiddenFor(m => m.NewPlanId)
                        @Html.HiddenFor(m => m.NewPlanName)
					}
                </div>
            </div>
        </div>
    </div>
</section>


