@using Errordite.Web.Models.Subscription
@using Errordite.Web.Extensions
@model SubscriptionCompleteViewModel
@{
    ViewBag.Title = "Complete";
}

<section class="centered">
    <div class="content">
        
		@if (Model.Status == SignUpStatus.Ok)
		{
			<h1>Sign up Complete</h1>
			<p>
				Thank you for signing up for Errordite, your subscription has been created successfully. 
				We have sent you an email confirming your subscription which includes your unique subscription id '@Model.SubscriptionId'.
			</p>
			<p>
				You can upgrade, downgrade or cancel your subscription at any time by visiting your <a href="@Url.PaymentPlan()">billing</a> area.
			</p>
		}
		else
		{
			<h1>Sign up Error</h1>
			<p>
				Thank you for signing up for Errordite, unfortunately a problem occured during the sign up process and we were unable to verify your
				subscription, please contact us quoting your unique subscription id '@Model.SubscriptionId' and we will sort it out for you.
			</p>
		}
    </div>
</section>
