@using Errordite.Web.Models.Subscription
@model SubscriptionCompleteViewModel
@{
    ViewBag.Title = "Sign Up Failed";
}

<section class="centered">
    <div class="content">
        
		<h1>Sign up Error</h1>
        <p>
            Thank you for signing up for Errordite, unfortunately a problem occured during the sign up process and we were unable to verify your
            subscription, please contact us quoting your unique subscription id '@Model.SubscriptionId' and we will sort it out for you.
        </p>

    </div>
</section>
