@using Errordite.Web.Extensions
@model Errordite.Web.Models.Subscription.SubscriptionSignUpViewModel

@{
    ViewBag.Title = "Sign Up";
}

<section class="centered">
    <div class="content">
        <h1>Sign up for Errordite</h1>
        <p>
            When you sign up we will create a subscription on the credit / debit card supplied and will bill you monthly for the amount specified for your selected plan.
            Billing history will be available in your <a href="@Url.BillingHistory()" target="_blank">subscription</a> area. 
        </p>
        <p>
            Errordite uses a 3rd party called <a href="http://www.chargify.com">Chargify</a> to manage subscription payments, you will be taken to chargify
            to create your Errordite subscription when you select a plan below.
        </p>
        <p>
            If you do not sign up to a plan within 30 days of your trial expiring your organisation and all associated data may be deleted from our systems.
        </p>
        <p style="margin-bottom:25px;">
            If you have any questions regarding our pricing or your needs are not met by one of our plans please <a href="@Url.Contact()">contact us</a>.
        </p>

        @foreach (var paymentPlan in Model.Plans)
        {
            @Html.Partial("Docs/PaymentPlan", paymentPlan)
        }
		
        <div class="clear"></div>

	    <p style="margin-top:15px;">
		    * An issue is a group of errors, defined by a set of rules. Each time a new error is received by Errordite
			which does not match an existing issues rules we will create a new issue. You can delete an issue at any time if it is no longer relevant to you.
	    </p>
    </div>
</section>