@using Errordite.Web.Extensions
@model IEnumerable<Errordite.Core.Domain.Organisation.PaymentPlan>

@{
    ViewBag.Title = "Sign Up";
}

<section class="centered">
    <div class="content">
        <h1>Your Trial has Expired</h1>
        <p>Thank you for trying out Errordite, your free trial has now expired. In order to continue to use Errordite you need to sign up to one of our payment plans.</p>

        @foreach (var paymentPlan in Model)
        {
            @Html.Partial("Docs/PaymentPlan", paymentPlan)
        }
		
        <div class="clear"></div>

		<p>
            If you needs are not met by what is here, please <a href="@Url.Contact()">contact us</a>.
        </p>
    </div>
</section>