<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="devutility" type="Harmony.Utils.DevUtility.Configuration.DevUtilityConfiguration, Harmony.Utils.DevUtility"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <devutility>
    <services>
      <service name="AsosMarketplaceAuditFeederService" 
               displayName="Asos Marketplace Audit Feeder Service" 
               description="Recieves audit messages from queue and logs them to DB"
               relativePath="Asos.Marketplace.Applications\Asos.Marketplace.AuditFeeder"
               isNServiceBusService="true"></service>
      <service name="AsosMarketplaceCacheManagerService"
               displayName="Asos Marketplace Cache Manager Service"
               description="Manages caches across web servers by handling NServiceBus messages"
               relativePath="Asos.Marketplace.Applications\Asos.Marketplace.CacheManager"
               isNServiceBusService="true"></service>
      <service name="AsosMarketplaceEmailService"
               displayName="Asos Marketplace Email Service"
               description="Sends emails from NServiceBus queue"
               relativePath="Asos.Marketplace.Email\Asos.Marketplace.Email.Service"
               isNServiceBusService="true"></service>
      <service name="AsosMarketplaceIndexFeederService"
               displayName="Asos Marketplace Index Feeder Service"
               description="Feeds search index from website"
               relativePath="Asos.Marketplace.Search\Asos.Marketplace.Search.IndexFeeder"
               isNServiceBusService="true"></service>
      <service name="AsosMarketplaceBusinessEventsService"
               displayName="Asos Marketplace Business Events Service"
               description="Handles application / business events that do not want to be handled in-process"
               relativePath="Asos.Marketplace.Applications\Asos.Marketplace.BusinessEvents.Service"
               isNServiceBusService="true"></service>
      <service name="AsosMarketplaceMonitoringService"
               displayName="Asos Marketplace Monitoring Service"
               description="Monitors ASOS Marketplace"
               relativePath="Asos.Marketplace.Monitoring\Asos.Marketplace.Monitoring.Service"
               isNServiceBusService="false"
               servicePath="bin\debug\Asos.Marketplace.Monitoring.Service.exe"></service>
    </services>
  </devutility>
</configuration>
