@using Errordite.Web.Extensions
@using Errordite.Web.Models.Navigation
@using Raven.Client.Linq

<div class="tabs-container">
    <ul class="tabs">
        @{ var breadcrumbs = ViewData.GetBreadcrumbs(); }
    
        @foreach (var adminPage in Breadcrumbs.GetById(BreadcrumbId.Admin, Url).Children)
        {
            <li class="@(adminPage.Id.In(breadcrumbs.Select(b => b.Id)) ? "active" : "inactive")">
                <a href="@adminPage.Link">@adminPage.Title</a>
            </li>
        }
    </ul>
</div>