@using Errordite.Web.Models.Help
@{
    ViewBag.Title = "FAQ";
}

@{
    Layout = "~/Views/Shared/Master2.0.cshtml";
}
<div class="span12">
    <div class="base">
        @Html.Partial("Help/Tabs", HelpTab.Faq) 
        <div class="base-noheader">
            <div class="title">
                <h1>FAQ</h1>
            </div>
        </div>
    </div>
</div>