
@using Errordite.Web.Models.Help
@{
    ViewBag.Title = "Features";;
}

@section header
{
    @Html.Partial("Help/Tabs", HelpTab.Features) 
}

<section class="centered">
    <div class="content">
        <h1>Errordite features</h1>
    </div>
</section>