@using Errordite.Web.Models.Help
@{
    ViewBag.Title = "Pricing & Usage";
}

<div class="span12">
    <div class="base">
        @Html.Partial("Help/Tabs", HelpTab.Pricing) 

        <div class="base-noheader help">
            <div class="title">
                <h1>Errordite Pricing & Usage</h1>
            </div>
            <p>
                Errordite is a <strong>subscription based service</strong>, hosted on the <strong>Amazon's EC2</strong> platform. 
                We price the service based on your <strong>usage</strong>, everyone starts off with a 1 month free trial, at the end of the trial
                if you wish to continue to use the service you can choose from one of the 3 plans outlined below.
            </p>

            <div class="clear-space"></div>

            @Html.Partial("Help/SmallPlan")
            @Html.Partial("Help/MediumPlan")
            @Html.Partial("Help/LargePlan")

            <div class="clear-space"></div>
            <h3 class="all-plans">
                <span>All plans come with...</span>
                <span><i class="icon-ok-sign"></i> Free setup</span>
                <span><i class="icon-ok-sign"></i> SSL protection</span>
                <span><i class="icon-ok-sign"></i> Free email support</span>
            </h3>
        </div>
    </div>
</div>