@using CodeTrip.Core.Paging
@model Errordite.Web.Models.Errors.ErrorCriteriaViewModel
           
<div id="results">
    @if (Model.Errors != null && Model.Errors.Any())
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Exception</th>            
                    <th>Message</th>     
                    <th class="sort">@Html.SortLink(Model.Paging.PagingId, "&#8659", "Timestamp", true) <span>Received On</span> @Html.SortLink(Model.Paging.PagingId, "&#8657", "Timestamp", false)</th>
                    <th>Machine</th>
                    @if (!Model.HideIssues)
                    {
                        <th>Issue</th>  
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var error in Model.Errors)
                {
                    @Html.Partial("Errors/ErrorItem", error)
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        @Html.Partial("Pagination", Model.Paging) 
                    </td>
                </tr>
            </tfoot>
        </table>
    }
    else if (Model.Errors != null)
    {
        <div class="clear"></div>
        <div id="no-results">
            <p>No errors were returned from your query.</p>   
        </div> 
        <div class="clear"></div>
    }
    else
    {
        <div class="clear"></div>
        <div id="no-results">
            <p>Loading errors...</p>   
        </div> 
        <div class="clear"></div>
    }
</div>