@using Errordite.Web.Models.Issues
@model AddCommentViewModel

<div class="form" style="margin-bottom:5px">
	@using (Html.BeginForm("addcomment", "issue", FormMethod.Post, new { id = "comment" }))
	{
		@Html.HiddenFor(m => m.IssueId)
		@Html.HiddenFor(m => m.ApplicationId)
	    <div style="float:left;width:100%">
	        @Html.ValidationMessageFor(m => m.Comment)   
	    </div>
		<textarea name="Comment" style="height: 50px; width:500px" placeholder="Add a comment to this issue's history"></textarea>
	    <input type="submit" class="btn btn-medium btn-blue" value="Add" style="margin-top:22px" />
	}
</div>

<div id="history-items" data-val="@Model.IssueId"></div>