
@using CodeTrip.Core.Extensions
@using Errordite.Core.Extensions
@model Errordite.Web.Models.Issues.IssueHistoryItemViewModel

<div class="boxed-item history">
	<div class="item-bar">&nbsp;</div>	
	<div class="item-content">
		<div class="item-info heading short">
			Created By
		</div>
		<div class="item-info heading divider" style="width:75%">
			Created At
		</div>
		<div class="item-info short" style="margin-bottom:5px;">
			@(Model.SystemMessage ? "System" : Model.Username)
		</div>
		<div class="item-info divider" style="margin-bottom:5px;width:75%">
			@Model.DateAddedUtc.ToLocalTimeFormatted()
		</div>
		<div class="item-info heading full">
			Message
		</div>
		<div class="item-info full">
			@Html.Raw(Model.Message)
            @if (Model.Reference.IsNotNullOrEmpty())
            {
                <br /><i>Reference set: @Model.Reference</i>
            }
		</div>
	</div>
</div>