@using Errordite.Web.Extensions
@using Errordite.Web.Models.Issues
@model IssueNotFoundViewModel

@{
    ViewBag.Title = "Issue not found";
}   

<div class="span12">
    <div class="hero-unit">
        <h1 class="heading">Oh dear...</h1>
        <p>Issue with Id "@Model.Id" does not exist.</p>
        <p class="buttons">
            <a class="btn btn-medium btn-blue" href="@Url.Issues()">Go to your Issues</a>
            <a class="btn btn-medium btn-blue" href="@Url.Dashboard()">Go to your Dashboard</a>
        </p>
    </div>
</div>   