@using Errordite.Web.Models.Issues
@model IssueDetailsViewModel

<div class="colfull">
    <div class="box">
        <h2>Time Distribution of Errors</h2>
        <p>The graph below shows occurances of errors for this issue over a 24 hour period.</p>
        <div class="content" id="distribution">
            
        </div>
    </div>
</div>
        
    