@using Errordite.Web.Models.Issues
@model IssueDetailsViewModel

<div class="colfull">
    <div class="box" id="date-graph-box">
        <h2>Daily History</h2>
        <div class="content graph" id="date-graph">
            
        </div>
    </div>
    
    <div class="box">
        <h2>Hourly Distribution</h2>
        <div class="content graph" id="hour-graph">
            
        </div>
    </div>
</div>
        
    