
@using Errordite.Web.Extensions
@using Errordite.Web.Models.Organisation
@using Errordite.Web.Models.Users
@model UsersViewModel
           
@{
    ViewBag.Title = "Users";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Users</h1>
    </div>
    @Html.Partial("Organisation/Tabs", OrganisationTab.Users)
}

<div id="users" class="colfull">
    <p>The current users within your organisation are displayed below. <a href="@Url.AddUser()">Click here to add a user to your organisation</a></p>
    @if (Model.Users != null && Model.Users.Any())
    {
        @Html.Partial("Users/List", Model)
    }
    else
    {
        <div>
            <p>No users were found.</p>   
        </div> 
    }
</div>