
@{
    ViewBag.Title = "Privacy";
}

<section class="centered">
    <div class="content help">
        <h1>Our Privacy Policy</h1>
        <h2>Information collected</h2>
        <p>
            On creating an Errordite account, we collect only your name, organisation name and email address.	Subsequently, we store the information sent in any Errors raised by your application and sent to Errordite, whether by one of our linked-to client providers or otherwise.
        </p>
        <p>
            It is your responsibility to ensure you know what information is being sent in this way.  We also store information as entered into Issues by you or your organisation's users.
        </p>
        <p>
            Your computer's Internet Protocol (IP) Address may also be recorded.  This is recorded only for security and audit purposes and does not reveal any personal information about the user.
        </p>
        <p>
            Because we use Google Analytics, anonymous information is sent from your browser to Google about the way you use Errordite.  This information is used statistically to help us to improve the service.
        </p>

        <h2>How the information is used</h2>
        <p>
            All your information that we store is used solely as part of the service we provide to you.  We will not sell or otherwise give your information or aggregates derived from your information to anyone else.
        </p>
        <h2>Cookies</h2>
        <p>
            Errordite makes use of cookies which are small digital files that are stored in your web browser that enable us to track your return visits to our website. Your browser settings may allow you to block these cookies, but we require you have them enabled to help us personalise your experience of our website and allow us to remember who you are during your session.
        </p>
            </div>
</section>