@using Errordite.Web.Models.Docs
@{
    ViewBag.Title = "Python Client";
}

@section header
{
    @Html.Partial("Help/Tabs", DocsTab.PythonClient) 
}

<section class="centered">
    <div class="content help">
        <h1 class="section-header border">Python Client Info</h1>
        <p>
            
        </p> 
        
    </div>
</section>