
@{
    ViewBag.Title = "Terms of Use";
}

<section class="centered">
    <div class="content help">
        <h1>Terms of Use</h1>
        <p class="last-updated">
            Last updated 9th May 2013
        </p>
        <p>
		    This website is provided by Code Trip Limited, a limited liability company incorporated in 
		    England and Wales under company number 7735273 and registered at 16 Clovelly Road, London, W5 5HE, UK.
		</p>  
		<p>
			These terms of use are governed by the laws of England and Wales. Errordite and its associated client applications are provided "as is". 
			Code Trip does not accept any form of liability arising from your usage of Errordite.
	    </p>
        <h2>Agreement</h2>
        <p>By using Errordite, you agree to be bound by these terms of use.</p>
        <h2>Description of Service</h2>
        <p>Errordite receives errors you send from your application, whether using one of the linked-to client providers or 
            by sending JSON in the documented format.  If the token matches the token of an active application in your organisation
            the error will be stored against that application. If the error matches an existing issue, according to the current set
            of rules at the time the error is received by Errordite, the error will be attached to this matching issue.  If the error
            does not match any existing issues, according to the rules defined at the time the error is received, a new issue will be 
            created and the error will be attached to this new issue.  Your organisation's users can subsequently modify the issues, 
            which may result in errors becoming attached to other issues.
        </p>
        <p>
            Once the maximum number of errors that can be attached to a single issue has been reached against a single issue, older errors 
            will become deleted from this issue upon new matching errors arriving.  The number of issues, applications, errors permitted in total
            is controlled by your plan.  If a large number of errors are received by Errordite in a short space of time, some errors may be dropped
            by our throttling algorithm.  The thresholds for this throttling are at our discretion and may change at any time.
        </p>
        <p>We make no guarantees about the recording of errors sent to Errordite.  Errordite should not be used as the primary means of detecting
            errors in safety-critical systems.
        </p>
        <h2>Your information</h2>
        <p>The data you send us belongs to you and we will remove it from our systems upon request.  We do not guarantee to keep your data.  We will delete errors
            as issue limits are reached as described above. We do not guarantee your data from accidental deletion, corruption or loss.
        </p>
        <h2>Your account</h2>
        <p>You are responsible for the confidentiality of your organisation's login credentials.</p>
        <h2>Lawful use</h2>
        <p>You agree not to use Errordite for any use that contravenes either UK, international or local laws.  This includes but is not limited
            to sending illegal materials to Errordite.
        </p>
    </div>

</section>