@model Errordite.Web.Models.Authentication.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/Master2.0.cshtml";
}

<section class="centered">
    <h1><i class="icon-key"></i>Password Reset</h1>
    <div class="form">
        <p class="boldblue">Enter your email address below and we will send you an email so you can reset your password.</p>
        @using (Html.BeginForm("resetpassword", "authentication", FormMethod.Post, new {id = "passwordForm"})) {
            <ul class="errorditeform">
                <li>
                    @Html.LabelFor(m => m.Email, "Email")
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
                <li>
                    <input class="btn btn-medium btn-blue" type="submit" value="Reset Password" />
                </li>
            </ul>
        }
    </div>
</section>