

<div id="appharbor">
	<header id="branding">
		<div class="inner">

			<a href="https://appharbor.com/" id="appharbor-logo"><img src="https://d1h96yxpqwsy0s.cloudfront.net/assets/images/appharbor.png" alt="AppHarbor" height="57" width="168" /></a>

			<nav>
				
	<div id="appharbor-nav-account-loggedin">

		<div id="gravatar-container">
			<a href="https://appharbor.com/user" title="Go to your profile" data-gravatar-hash="">
			</a>
		</div>

		<div id="profile-container">
			<strong><a href="https://appharbor.com/user" id="appharbor-username-link">foo</a></strong>

<form action="https://appharbor.com/session" class="logout" method="post"><input name="_method" type="hidden" value="delete" /><button id="appharbor-sign-out-button" type="submit"><strong>Sign out</strong><span></span></button></form>

		</div>
	</div>

				<ul id="appharbor-nav">
						<li><a href="https://appharbor.com/applications">Your Applications</a></li>
					<li><a href="https://appharbor.com/page/how-it-works">How It Works</a></li>
					<li><a href="https://appharbor.com/pricing">Pricing</a></li>
					<li><a href="https://appharbor.com/addons">Add-ons</a></li>
					<li><a href="https://appharbor.com/page/support">Support</a></li>
				</ul>
			</nav>

		</div>
	</header>
</div>

	<style>
		#appharbor ul, #appharbor li {margin:0; padding:0;}


		/* group Header */
#appharbor #branding {padding: 30px 0 55px !important;}
#appharbor #branding .inner {
  overflow: hidden !important;
  position: relative !important;
  z-index: 10 !important;
  height: 78px !important;
  width: 1040px !important;
  margin: 0 auto !important;
  background: #223d4f url(https://d1h96yxpqwsy0s.cloudfront.net/assets/images/fallback-sprite.png) 0 0 repeat-x !important;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4E6073), to(#153344)) !important;
  background: -webkit-linear-gradient(270deg,#4E6073, #153344) !important;
  background: -moz-linear-gradient(270deg,#4E6073, #153344) !important;
  background: -ms-linear-gradient(270deg,#4E6073, #153344) !important;
  background: -o-linear-gradient(270deg,#4E6073, #153344) !important;
  background: linear-gradient(180deg,#4E6073, #153344) !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25) !important;
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25) !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25) !important;
  -pie-box-shadow: 0 4px 10px 0 #999 !important;
}

#appharbor #appharbor-logo {display: block !important; position: absolute !important; left: 20px !important; top: 4px !important; height: 57px !important; width: 169px !important; padding: 5px !important;}

#appharbor #branding nav {float: right !important; font-family: "Adelle Regular", Georgia, serif !important; font-size-adjust: 0.516 !important; font-size: 13px !important; font-style: normal !important; font-weight: normal !important;}

  /* group Navigation */
  #appharbor #appharbor-nav {float: right !important; height: 78px !important; padding: 0 24px 0 0 !important; background: url(https://d1h96yxpqwsy0s.cloudfront.net/assets/images/sprite.png) 100% 0 no-repeat !important; line-height: 80px !important;}
  #appharbor #appharbor-nav li {display: inline !important; float: left !important; padding: 0 4px !important;}
  #appharbor #appharbor-nav a {float: left !important; height: 78px !important; padding: 0 12px !important; color: #DAE1E5 !important; text-decoration: none !important;}
  #appharbor #appharbor-nav a:hover {color: #fff !important;}
  #appharbor #appharbor-nav li.selected a, #appharbor-nav li.selected a:hover {
    color: #fff !important;
    background: url(https://d1h96yxpqwsy0s.cloudfront.net/assets/images/fallback-sprite.png) 0 -100px repeat-x !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1f3344), to(rgba(31, 51, 67, 0))) !important;
    background: -webkit-linear-gradient(270deg,#1f3344, rgba(31, 51, 67, 0)) !important;
    background: -moz-linear-gradient(270deg,#1f3344, rgba(31, 51, 67, 0)) !important;
    background: -ms-linear-gradient(270deg,#1f3344, rgba(31, 51, 67, 0)) !important;
    background: -o-linear-gradient(270deg,#1f3344, rgba(31, 51, 67, 0)) !important;
    background: linear-gradient(180deg,#1f3344, rgba(31, 51, 67, 0)) !important;
  }
  /* end */

  /* group My Account */
  #appharbor #appharbor-nav-account {float: right !important; padding: 28px 18px 0 !important; line-height: 24px !important; font-size: 12px !important;}
  #appharbor #appharbor-nav-account li {display: inline !important; float: left !important; padding: 0 6px 0 0 !important;}
  #appharbor #appharbor-nav-account a {
    float: left !important;
    border-bottom: 1px solid #243643 !important;
    padding: 0 12px !important;
    color: #D0D2D3 !important;
    text-decoration: none !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .6) !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .05) !important;
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .05) !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .05) !important;
    -pie-box-shadow: 0 0 1px 0 #444 !important;
  }
  #appharbor #appharbor-nav-account a:hover {color: #fff !important;}

  #appharbor #appharbor-nav-account-signup a {
    background: #326472 url(https://d1h96yxpqwsy0s.cloudfront.net/assets/images/fallback-sprite.png) 0 -200px repeat-x !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#498a95), to(#326472)) !important;
    background: -webkit-linear-gradient(270deg,#498a95, #326472) !important;
    background: -moz-linear-gradient(270deg,#498a95, #326472) !important;
    background: -ms-linear-gradient(270deg,#498a95, #326472) !important;
    background: -o-linear-gradient(270deg,#498a95, #326472) !important;
    background: linear-gradient(180deg,#498a95, #326472) !important;
  }
  #appharbor #appharbor-nav-account-signup a:hover {
    background: #427a87 url(https://d1h96yxpqwsy0s.cloudfront.net/assets/images/fallback-sprite.png) 0 -300px repeat-x !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62aab3), to(#407683)) !important;
    background: -webkit-linear-gradient(270deg,#62aab3, #407683) !important;
    background: -moz-linear-gradient(270deg,#62aab3, #407683) !important;
    background: -ms-linear-gradient(270deg,#62aab3, #407683) !important;
    background: -o-linear-gradient(270deg,#62aab3, #407683) !important;
    background: linear-gradient(180deg,#62aab3, #407683) !important;
  }

  #appharbor #appharbor-nav-account-login a {
    background: #294355 url(https://d1h96yxpqwsy0s.cloudfront.net/assets/images/fallback-sprite.png) 0 -250px repeat-x !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#485b6e), to(#294355)) !important;
    background: -webkit-linear-gradient(270deg,#485b6e, #294355) !important;
    background: -moz-linear-gradient(270deg,#485b6e, #294355) !important;
    background: -ms-linear-gradient(270deg,#485b6e, #294355) !important;
    background: -o-linear-gradient(270deg,#485b6e, #294355) !important;
    background: linear-gradient(180deg,#485b6e, #294355) !important;
  }
  #appharbor #appharbor-nav-account-login a:hover {
    background: #3f6376 url(https://d1h96yxpqwsy0s.cloudfront.net/assets/images/fallback-sprite.png) 0 -350px repeat-x !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#687e8f), to(#3f6376)) !important;
    background: -webkit-linear-gradient(270deg,#687e8f, #3f6376) !important;
    background: -moz-linear-gradient(270deg,#687e8f, #3f6376) !important;
    background: -ms-linear-gradient(270deg,#687e8f, #3f6376) !important;
    background: -o-linear-gradient(270deg,#687e8f, #3f6376) !important;
    background: linear-gradient(180deg,#687e8f, #3f6376) !important;
  }
  /* end */
/* end */

/* group Navigation - Logged In State */
#appharbor #appharbor-nav-account-loggedin {
  float: right !important;
  height: 58px !important;
  min-width: 120px !important;
  padding: 20px 24px 0 26px !important;
  background: #173546 url(https://d1h96yxpqwsy0s.cloudfront.net/assets/images/fallback-sprite.png) 0 -800px repeat-x !important;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#344c5e), to(#173546)) !important;
  background: -webkit-linear-gradient(270deg,#344c5e, #173546) !important;
  background: -moz-linear-gradient(270deg,#344c5e, #173546) !important;
  background: -ms-linear-gradient(270deg,#344c5e, #173546) !important;
  background: -o-linear-gradient(270deg,#344c5e, #173546) !important;
  background: linear-gradient(180deg,#344c5e, #173546) !important;
  line-height: 1.5 !important;
  border-radius: 0 10px 10px 0 !important;
  -webkit-border-top-right-radius: 10px !important;
  -webkit-border-bottom-right-radius: 10px !important;
  -moz-border-radius-topright: 10px !important;
  -moz-border-radius-bottomright: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
#appharbor #appharbor-nav-account-loggedin a {clear: both !important; float: right !important; color: #8A9BA8 !important; font-size: 12px !important; text-decoration: none !important; white-space: nowrap !important;}
#appharbor #appharbor-nav-account-loggedin a:hover {color: #b7c2ca !important;}
#appharbor #appharbor-nav-account-loggedin strong {float: right !important; padding: 0 0 3px !important; font-weight: normal !important;}
#appharbor #appharbor-nav-account-loggedin strong a {float: none !important; color: #DAE1E5 !important; font-size: 13px !important; white-space: normal !important;}
#appharbor #appharbor-nav-account-loggedin strong a:hover {color: #fff !important;}
/* end */

#appharbor #appharbor-nav-account-loggedin button {clear: both !important; float: right !important; color: #8A9BA8 !important; font-size: 12px !important; text-decoration: none !important; white-space: nowrap !important; border:0 !important; background:transparent !important;padding:0 !important;margin:0}
#appharbor #appharbor-nav-account-loggedin button:hover {color: #b7c2ca !important; cursor: pointer !important;}

#appharbor #branding nav button {float: right !important; font-family: "Adelle Regular", Georgia, serif !important; font-size-adjust: 0.516 !important; font-size: 13px !important; font-style: normal !important; font-weight: normal !important;}

/* Gravatar */
.gravatar
{
	box-shadow: 0 0 5px #a3a5a8 !important;
	-moz-box-shadow: 0 0 5px #a3a5a8 !important;
	-webkit-box-shadow: 0 0 5px #a3a5a8 !important;
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
}

#gravatar-container
{
	float: left !important;
	margin-right: 15px !important;
	margin-left: 5px !important;
}

#profile-container
{
	float: right !important;
}

		#appharbor
		{
			font-size: medium !important;
		}
	</style>
	<script>
		var rawNavData = readCookie("appharbor-nav-data");
var decodedNavData = decodeBase64(unescape(rawNavData));
var parsedNavData = JSON.parse(decodedNavData);

var usernameLink = document.getElementById("appharbor-username-link");
usernameLink.innerHTML = parsedNavData.username;

function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for (var i = 0; i < ca.length; i++) {
		var c = ca[i];
		while (c.charAt(0) == ' ') c = c.substring(1, c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
	}
	return null;
}

function decodeBase64(input) {
	var output = "";
	var chr1, chr2, chr3 = "";
	var enc1, enc2, enc3, enc4 = "";
	var i = 0;

	input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");

	do {
		var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
		enc1 = keyStr.indexOf(input.charAt(i++));
		enc2 = keyStr.indexOf(input.charAt(i++));
		enc3 = keyStr.indexOf(input.charAt(i++));
		enc4 = keyStr.indexOf(input.charAt(i++));

		chr1 = (enc1 << 2) | (enc2 >> 4);
		chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
		chr3 = ((enc3 & 3) << 6) | enc4;

		output = output + String.fromCharCode(chr1);

		if (enc3 != 64) {
			output = output + String.fromCharCode(chr2);
		}
		if (enc4 != 64) {
			output = output + String.fromCharCode(chr3);
		}

		chr1 = chr2 = chr3 = "";
		enc1 = enc2 = enc3 = enc4 = "";

	} while (i < input.length);

	return unescape(output);
}

	</script>
