@using Errordite.Web.Extensions
<p class="left">© @DateTime.UtcNow.Year <strong>Code Trip Ltd</strong> All rights reserved.</p>
<p class="right">@*<a href="@Url.TermsAndConditions()">Terms and Conditions</a> |*@ <a href="@Url.Privacy()">Privacy Policy</a></p>
