@using Errordite.Web.Extensions
@model bool
           
<div class="span12" id="how-it-works-container">
    <h2>How it works</h2>
    <div class="base">
        
        <div class="help-step step-1">
            <div class="step-info">
                <div class="step-number">1</div>
                <div class="step-blurb">Configure your application to use the Errodite client...</div> 
            </div>
            <div class="step-img">
                <img src="/Images/config.jpg"/></div>
        </div>
        <div class="help-step step-2">
            <div class="step-img">
                <img src="/Images/alerts.jpg"/>
            </div>
            <div class="step-info">
                <div class="step-number">2</div>
                <div class="step-blurb">... wait for errors to come in - you'll be alerted online and via email (but it's smart, so you won't be swamped!)...</div>
            </div>
            
        </div>
        <div class="help-step step-3">
            <div class="step-info">
                <div class="step-number">3</div>
                <div class="step-blurb">... the errors get grouped into issues...</div>
            </div>
            <div class="step-img">
                <img src="/Images/rules.jpg"/>
            </div>
        </div>
        <div class="help-step step-4">
            <div class="step-img">
                <img src="/Images/assign.jpg"/>
            </div>
            <div class="step-info">
                <div class="step-number">4</div>
                <div class="step-blurb">... assign the issues to your rock star developer...</div>
            </div>
        </div>
        <div class="help-step step-5">
            <div class="step-info">
                <div class="step-number">5</div>
                <div class="step-blurb">... and mark them as solved when fixed!</div>
            </div>
            <div class="step-img">
                <img src="/Images/solve.jpg"/>
            </div>
        </div>
        <div class="help-step step-final">
            <p class="plus">
                plus.... reports, user-defined rules and alerts, HipChat integration, fast search and <a href="@Url.Features()">more</a>!
            </p>
            @if (Model)
            {
                <p class="buttons">
                    <a class="btn-large btn-primary btn-signup" href="@Url.SignUp()">Sign up</a>
                </p>
            }  
        </div>
    </div>
</div>
