@using Errordite.Web.Extensions

@{
    ViewBag.Title = "Resource not found";
}

<section class="centered">
    <div class="content">
        <h1 class="heading">Oh dear...</h1>
        <p>We could not find the resource you were looking for, please use the links below to return to what you were doing.</p>
        <p class="buttons">
            <a class="btn btn-medium btn-blue" href="@Url.Home()">Go Home</a>
            <a class="btn btn-medium btn-blue" href="@Url.Dashboard()">Go to your Dashboard</a>
        </p>
    </div>
</section>  