@using Errordite.Web.Extensions   
    
@if (ViewData.HasNotification())
{
    var notification = ViewData.GetNotification();
    
    <div id="notifications" class="notification-container">
		<div class="centered @notification.Type.ToString().ToLowerInvariant()">
			<i class="icon-@notification.Type.ToString().ToLowerInvariant()"></i><span>@Html.Raw(notification.Message.ToString())</span>
		</div>
	</div>
}