@using Errordite.Core.Configuration
@using Errordite.Core.Domain.Organisation
@using Errordite.Web.Extensions   

@{
	var activeOrganisation = ViewData.GetAppContext().CurrentUser.ActiveOrganisation;
}

@if (activeOrganisation != null && activeOrganisation.Status == OrganisationStatus.PlanQuotaExceeded && ErrorditeConfiguration.Current.SubscriptionsEnabled)
{
	<div id="notifications" class="error-container">
		<section class="centered"> 
			<div class="notification-container">
				<div class="notification-icon">
					<i class="icon-error"></i>
				</div>
				<div class="notification-text">
					You have exceeded your plans quotas, please <a href="@Url.Subscription()">upgrade your subscription</a> or risk losing data.
				</div>
			</div>
		</section> 
	</div>
}