@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @using (Html.BeginForm("error", "home")) {
        @:Preset Error (number from 1 to 4 or leave blank): @Html.TextBox("index")
        <br/>
        @:Message: @Html.TextBox("errorMessage")
        <br/>
        <br/>
        <input type="submit" value="Create Error" />
    }
</p>
