<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\codetrip\CodeTrip.Core\packages.config" />
  <repository path="..\core\Errordite.Core\packages.config" />
  <repository path="..\core\Errordite.Notifications.Service\packages.config" />
  <repository path="..\core\Errordite.Raven\packages.config" />
  <repository path="..\core\Errordite.Reception.Service\packages.config" />
  <repository path="..\core\Errordite.Reception.Web\packages.config" />
  <repository path="..\core\Errordite.Test.Automation\packages.config" />
  <repository path="..\core\Errordite.Test\packages.config" />
  <repository path="..\core\Errordite.Web\packages.config" />
</repositories>