<?xml version="1.0"?>
<configuration>
    <properties>
        <defaultCacheEngine>${memory}</defaultCacheEngine>
    </properties>
    <components>

        <component id="memory"
                   lifestyle="singleton"
                   service="Errordite.Core.Caching.Interfaces.ICacheEngine, Errordite.Core"
                   type="Errordite.Core.Caching.Engines.MemoryCacheEngine, Errordite.Core">
        </component>

        <component id="CacheConfiguration"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Entities.ICacheConfiguration, Errordite.Core"
               type="Errordite.Core.Caching.Entities.CacheConfiguration, Errordite.Core">
            <parameters>
                <cacheProfiles>
                    <dictionary>
                        <entry key="users">${UserCache}</entry>
                        <entry key="groups">${GroupCache}</entry>
                        <entry key="applications">${ApplicationCache}</entry>
                        <entry key="organisations">${OrganisationCache}</entry>
                        <entry key="system">${SystemCache}</entry>
                    </dictionary>
                </cacheProfiles>
            </parameters>
        </component>

        <component id="SystemCache"
                   lifestyle="singleton"
                   service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
                   type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
            <parameters>
                <cacheId>1</cacheId>
                <profileName>system</profileName>
                <engine>#{defaultCacheEngine}</engine>
                <timeout>00:05:00</timeout>
            </parameters>
        </component>

        <component id="UserCache"
                   lifestyle="singleton"
                   service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
                   type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
            <parameters>
                <cacheId>2</cacheId>
                <profileName>users</profileName>
                <engine>#{defaultCacheEngine}</engine>
                <timeout>00:05:00</timeout>
            </parameters>
        </component>

        <component id="GroupCache"
                   lifestyle="singleton"
                   service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
                   type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
            <parameters>
                <cacheId>3</cacheId>
                <profileName>groups</profileName>
                <engine>#{defaultCacheEngine}</engine>
                <timeout>00:05:00</timeout>
            </parameters>
        </component>

        <component id="ApplicationCache"
                   lifestyle="singleton"
                   service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
                   type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
            <parameters>
                <cacheId>4</cacheId>
                <profileName>applications</profileName>
                <engine>#{defaultCacheEngine}</engine>
                <timeout>00:05:00</timeout>
            </parameters>
        </component>

        <component id="OrganisationCache"
                   lifestyle="singleton"
                   service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
                   type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
            <parameters>
                <cacheId>5</cacheId>
                <profileName>organisations</profileName>
                <engine>#{defaultCacheEngine}</engine>
                <timeout>00:05:00</timeout>
            </parameters>
        </component>

    </components>
</configuration>
