<?xml version="1.0"?>
<configuration>
  <properties>
    <defaultCacheEngine>${memory}</defaultCacheEngine>
  </properties>
  <components>

    <!--<component id="RedisConfiguration"
           lifestyle="singleton"
           service="Errordite.Core.Redis.RedisConfiguration, Errordite.Core"
           type="Errordite.Core.Redis.RedisConfiguration, Errordite.Core">
      <parameters>
        <Endpoint>127.0.0.1</Endpoint>
        <Port>6379</Port>
      </parameters>
    </component>
    
    <component id="redis"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Interfaces.ICacheEngine, Errordite.Core"
               type="Errordite.Core.Caching.Engines.RedisCacheEngine, Errordite.Core">
      <parameters>
        <session>${redisSession}</session>
      </parameters>
    </component>

    <component id="redis-memory-hybrid"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Interfaces.ICacheEngine, Errordite.Core"
               type="Errordite.Core.Caching.Engines.RedisMemoryHybridCacheEngine, Errordite.Core">
      <parameters>
        <memoryCache>${memory}</memoryCache>
        <redisCache>${redis}</redisCache>
      </parameters>
    </component>

    <component id="RedisSession"
           lifestyle="singleton"
           service="Errordite.Core.Redis.IRedisSession, Errordite.Core"
           type="Errordite.Core.Redis.RedisSession, Errordite.Core">
      <parameters>
        <redisConfiguration>${RedisConfiguration}</redisConfiguration>
      </parameters>
    </component>-->

    <component id="memory"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Interfaces.ICacheEngine, Errordite.Core"
               type="Errordite.Core.Caching.Engines.MemoryCacheEngine, Errordite.Core">
    </component>
    
    <component id="CacheConfiguration"
           lifestyle="singleton"
           service="Errordite.Core.Caching.Entities.ICacheConfiguration, Errordite.Core"
           type="Errordite.Core.Caching.Entities.CacheConfiguration, Errordite.Core">
      <parameters>
        <cacheProfiles>
          <dictionary>
            <entry key="users">${UserCache}</entry>
            <entry key="groups">${GroupCache}</entry>
            <entry key="applications">${ApplicationCache}</entry>
            <entry key="organisations">${OrganisationCache}</entry>
            <entry key="system">${SystemCache}</entry>
          </dictionary>
        </cacheProfiles>
      </parameters>
    </component>

    <component id="SystemCache"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
               type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
      <parameters>
        <cacheId>1</cacheId>
        <profileName>system</profileName>
        <engine>#{defaultCacheEngine}</engine>
        <timeout>01:00:00</timeout>
      </parameters>
    </component>

    <component id="UserCache"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
               type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
      <parameters>
        <cacheId>2</cacheId>
        <profileName>users</profileName>
        <engine>#{defaultCacheEngine}</engine>
        <timeout>01:00:00</timeout>
      </parameters>
    </component>

    <component id="GroupCache"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
               type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
      <parameters>
        <cacheId>3</cacheId>
        <profileName>groups</profileName>
        <engine>#{defaultCacheEngine}</engine>
        <timeout>01:00:00</timeout>
      </parameters>
    </component>

    <component id="ApplicationCache"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
               type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
      <parameters>
        <cacheId>4</cacheId>
        <profileName>applications</profileName>
        <engine>#{defaultCacheEngine}</engine>
        <timeout>01:00:00</timeout>
      </parameters>
    </component>

    <component id="OrganisationCache"
               lifestyle="singleton"
               service="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core"
               type="Errordite.Core.Caching.Entities.CacheProfile, Errordite.Core">
      <parameters>
        <cacheId>5</cacheId>
        <profileName>organisations</profileName>
        <engine>#{defaultCacheEngine}</engine>
        <timeout>01:00:00</timeout>
      </parameters>
    </component>

  </components>
</configuration>
