<?xml version="1.0"?>
<configuration>
  <components>
    <component id="EmailConfiguration"
           lifestyle="singleton"
           service="Errordite.Core.Configuration.EmailConfiguration, Errordite.Core"
           type="Errordite.Core.Configuration.EmailConfiguration, Errordite.Core">
      <parameters>
        <SmtpServer>email-smtp.us-east-1.amazonaws.com</SmtpServer>
        <SmtpServerPort>587</SmtpServerPort>
        <!--See https://docs.google.com/document/d/1QHRUpLc4n15Kffnbxf52rlyJ6svL0DKtou8Fp5IYQpw/edit for credentials-->
        <SmtpServerUsername></SmtpServerUsername>
        <SmtpServerPassword></SmtpServerPassword>
        <IsSmtpSecureConnection>true</IsSmtpSecureConnection>
        <FromAddress>errordite@codetrip.co.uk</FromAddress>
        <FromDisplayName>Errordite</FromDisplayName>
        <TemplateLocation>$reproot\core\Errordite.Core\Notifications\Templates</TemplateLocation>
        <ErrorditeUrl>http://dev-site.errordite.com/</ErrorditeUrl>
      </parameters>
    </component>
  </components>
</configuration>
