<?xml version="1.0"?>
<configuration>
  <components>
    <component id="EmailConfiguration"
           lifestyle="singleton"
           service="Errordite.Core.Configuration.EmailConfiguration, Errordite.Core"
           type="Errordite.Core.Configuration.EmailConfiguration, Errordite.Core">
      <parameters>
        <SmtpServer>email-smtp.us-east-1.amazonaws.com</SmtpServer>
        <SmtpServerPort>587</SmtpServerPort>
        <SmtpServerUsername>AKIAJW4ZB7X4KU23AN7Q</SmtpServerUsername>
        <SmtpServerPassword>AjmPDK2c7Q0PDtSya9fGzR2QC30TMe0r5tFpYSNgdySn</SmtpServerPassword>
        <IsSmtpSecureConnection>true</IsSmtpSecureConnection>
        <FromAddress>errordite@codetrip.co.uk</FromAddress>
        <FromDisplayName>Errordite</FromDisplayName>
        <TemplateLocation>$reproot\core\Errordite.Core\Notifications\Templates</TemplateLocation>
        <ErrorditeUrl>http://dev-site.errordite.com/</ErrorditeUrl>
      </parameters>
    </component>
  </components>
</configuration>
