<?xml version="1.0"?>
<configuration>
  <components>
    <component id="ErrorditeConfiguration"
           lifestyle="singleton"
           service="Errordite.Core.Configuration.ErrorditeConfiguration, Errordite.Core"
           type="Errordite.Core.Configuration.ErrorditeConfiguration, Errordite.Core">
      <parameters>
        <SiteBaseUrl>http://dev-site.errordite.com/</SiteBaseUrl>
        <ReceptionEndpoint>http://dev-reception.errordite.com/</ReceptionEndpoint>
        <RenderMinifiedContent>false</RenderMinifiedContent>
        <ServiceBusEnabled>true</ServiceBusEnabled>
        <ReceptionQueueName>Errordite.Reception.Service</ReceptionQueueName>
        <NotificationsQueueName>Errordite.Notifications.Service</NotificationsQueueName>
        <EventsQueueName>Errordite.Events.Service</EventsQueueName>
        <AdministratorsEmail>errordite@Errordite.co.uk</AdministratorsEmail>
        <MaxPageSize>250</MaxPageSize>
        <IssueCacheTimeoutMinutes>120</IssueCacheTimeoutMinutes>
        <IssueErrorLimit>50</IssueErrorLimit>
        <IssueCacheId>2</IssueCacheId>
        <TrialLengthInDays>30</TrialLengthInDays>
        <ErrorPropertiesForFiltering>
          <list>
            <item>Message</item>
            <item>MethodName</item>
            <item>Module</item>
            <item>StackTrace</item>
            <item>Type</item>
            <item>Url</item>
            <item>MachineName</item>
            <item>UserAgent</item>
          </list>
        </ErrorPropertiesForFiltering>
        <ReceptionHttpEndpoint>http://dev-site.errordite.com:800/api</ReceptionHttpEndpoint>
        <RateLimiterRules>
            <list>
                <item>${ErrorsPerMinuteRule}</item>
            </list>
        </RateLimiterRules>
      </parameters>
    </component>
      <component id="ErrorsPerMinuteRule"
                 lifestyle="singleton"
                 service="Errordite.Core.Reception.RateLimiterRule, Errordite.Core"
                 type="Errordite.Core.Reception.RateLimiterRule, Errordite.Core">
        <parameters>
          <Minutes>5</Minutes>
          <Count>1000</Count>
          <Name>1000 In 5 Minutes</Name>
        </parameters>
      </component>
  </components>
</configuration>
