<?xml version="1.0"?>
<configuration>
	<components>
		<component id="ErrorditeConfiguration"
			   lifestyle="singleton"
			   service="Errordite.Core.Configuration.ErrorditeConfiguration, Errordite.Core"
			   type="Errordite.Core.Configuration.ErrorditeConfiguration, Errordite.Core">
			<parameters>
				<SiteBaseUrl>http://dev-site.errordite.com</SiteBaseUrl>
				<ReceiveWebEndpoints>http://dev-receive.errordite.com</ReceiveWebEndpoints>
				<ReceiveQueueAddress>https://sqs.eu-west-1.amazonaws.com/186350237634/errordite-receive-</ReceiveQueueAddress>
				<NotificationsQueueAddress>https://sqs.eu-west-1.amazonaws.com/186350237634/errordite-notifications-</NotificationsQueueAddress>
				<EventsQueueAddress>https://sqs.eu-west-1.amazonaws.com/186350237634/errordite-events-</EventsQueueAddress>
				<RenderMinifiedContent>false</RenderMinifiedContent>
				<ServiceBusEnabled>true</ServiceBusEnabled>
				<AdministratorsEmail>nick@codetrip.co.uk;gaz@codetrip.co.uk</AdministratorsEmail>
				<MaxPageSize>250</MaxPageSize>
				<IssueCacheTimeoutMinutes>120</IssueCacheTimeoutMinutes>
				<IssueErrorLimit>50</IssueErrorLimit>
				<IssueCacheId>2</IssueCacheId>
				<TrialLengthInDays>30</TrialLengthInDays>
				<QueueVisibilityTimeoutSeconds>60</QueueVisibilityTimeoutSeconds>
				<AWSAccessKey>AKIAIZV7WJHA3YGIBV7A</AWSAccessKey>
				<AWSSecretKey>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</AWSSecretKey>
                <DeveloperQueueSuffix>gaz</DeveloperQueueSuffix>
				<ChargifyApiKey>XFzX3jTRPWegV1EsO4tZ</ChargifyApiKey>
				<ChargifyUrl>https://code-trip-ltd.chargify.com</ChargifyUrl>
                <RavenBackupInterval>180000</RavenBackupInterval>
				<SubscriptionsEnabled>true</SubscriptionsEnabled>
				<ErrorPropertiesForFiltering>
					<list>
						<item>Message</item>
						<item>MethodName</item>
						<item>Module</item>
						<item>StackTrace</item>
						<item>Type</item>
						<item>Url</item>
						<item>MachineName</item>
						<item>UserAgent</item>
					</list>
				</ErrorPropertiesForFiltering>
				<RateLimiterRules>
					<list>
						<item>${ErrorsPerMinuteRule}</item>
					</list>
				</RateLimiterRules>
			</parameters>
		</component>
		<component id="ErrorsPerMinuteRule"
				   lifestyle="singleton"
				   service="Errordite.Core.Receive.RateLimiterRule, Errordite.Core"
				   type="Errordite.Core.Receive.RateLimiterRule, Errordite.Core">
			<parameters>
				<Minutes>5</Minutes>
				<Count>1000</Count>
				<Name>1000 In 5 Minutes</Name>
			</parameters>
		</component>
	</components>
</configuration>
