<?xml version="1.0"?>
<configuration>
  <components>
    <component id="HttpServerConfiguration"
           lifestyle="singleton"
           type="Errordite.Core.Configuration.HttpServerConfiguration, Errordite.Core">
      <parameters>
        <Endpoint>http://localhost:800/</Endpoint>
      </parameters>
    </component>
  </components>
</configuration>
