<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d - %m%n" />
    </layout>
  </appender>

  <appender name="WebEventLogAppender" type="log4net.Appender.EventLogAppender, log4net" logName="Application">
    <threshold value="ERROR" />
    <param name="LogName" value="Application" />
    <param name="ApplicationName" value="Errordite Web" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%appdomain [%thread] %-5level - %message%newline [%properties]%newline %exception"/>
    </layout>
  </appender>

  <appender name="ReceptionWebEventLogAppender" type="log4net.Appender.EventLogAppender, log4net" logName="Application">
    <threshold value="ERROR" />
    <param name="LogName" value="Application" />
    <param name="ApplicationName" value="Errordite Reception Web" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%appdomain [%thread] %-5level - %message%newline [%properties]%newline %exception"/>
    </layout>
  </appender>

  <appender name="ReceptionServiceEventLogAppender" type="log4net.Appender.EventLogAppender, log4net" logName="Application">
    <threshold value="ERROR" />
    <param name="LogName" value="Application" />
    <param name="ApplicationName" value="Errordite Reception Service" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%appdomain [%thread] %-5level - %message%newline [%properties]%newline %exception"/>
    </layout>
  </appender>

  <appender name="EventsServiceEventLogAppender" type="log4net.Appender.EventLogAppender, log4net" logName="Application">
    <threshold value="ERROR" />
    <param name="LogName" value="Application" />
    <param name="ApplicationName" value="Errordite Events Service" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%appdomain [%thread] %-5level - %message%newline [%properties]%newline %exception"/>
    </layout>
  </appender>

  <appender name="NotificationServiceEventLogAppender" type="log4net.Appender.EventLogAppender, log4net" logName="Application">
    <threshold value="ERROR" />
    <param name="LogName" value="Application" />
    <param name="ApplicationName" value="Errordite Notification Service" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%appdomain [%thread] %-5level - %message%newline [%properties]%newline %exception"/>
    </layout>
  </appender>

  <appender name="ScheduledTasksEventLogAppender" type="log4net.Appender.EventLogAppender, log4net" logName="Application">
    <threshold value="ERROR" />
    <param name="LogName" value="Application" />
    <param name="ApplicationName" value="Errordite Scheduled Tasks" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%appdomain [%thread] %-5level - %message%newline [%properties]%newline %exception"/>
    </layout>
  </appender>

  <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
    <param name="File" value="audit"/>
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="_yyyy-MM-dd.lo\g"/>
    <param name="StaticLogFileName" value="false"/>
    <maximumFileSize value="500KB" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %message" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
    </filter>
    <filter class="log4net.Filter.DenyAllFilter"/>
  </appender>

  <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
    <param name="File" value="error"/>
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="_yyyy-MM-dd.lo\g"/>
    <param name="StaticLogFileName" value="false"/>
    <maximumFileSize value="500KB" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline ---------------START---------------------- %newline %date - %message %stackTrace %newline ----------------END--------------------- %newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="ERROR" />
    </filter>
  </appender>

  <logger name="Errordite.Web">
    <level value="DEBUG"/>
    <appender-ref ref="TraceAppender"/>
    <appender-ref ref="WebEventLogAppender"/>
    <appender-ref ref="ErrorRollingLogFileAppender"/>
  </logger>

  <logger name="Errordite.Reception.Web">
    <level value="DEBUG"/>
    <appender-ref ref="TraceAppender"/>
    <appender-ref ref="ReceptionWebEventLogAppender"/>
    <appender-ref ref="ErrorRollingLogFileAppender"/>
  </logger>

  <logger name="Errordite.Reception">
    <level value="DEBUG"/>
    <appender-ref ref="TraceAppender"/>
    <appender-ref ref="ReceptionServiceEventLogAppender"/>
    <appender-ref ref="ErrorRollingLogFileAppender"/>
    <appender-ref ref="DebugRollingLogFileAppender"/>
  </logger>

  <logger name="Errordite.Events">
    <level value="DEBUG"/>
    <appender-ref ref="TraceAppender"/>
    <appender-ref ref="EventsServiceEventLogAppender"/>
    <appender-ref ref="ErrorRollingLogFileAppender"/>
    <appender-ref ref="DebugRollingLogFileAppender"/>
  </logger>

  <logger name="Errordite.Notifications">
    <level value="DEBUG"/>
    <appender-ref ref="TraceAppender"/>
    <appender-ref ref="NotificationServiceEventLogAppender"/>
    <appender-ref ref="ErrorRollingLogFileAppender"/>
    <appender-ref ref="DebugRollingLogFileAppender"/>
  </logger>

  <logger name="Errordite.ScheduledTasks">
    <level value="DEBUG"/>
    <appender-ref ref="TraceAppender"/>
    <appender-ref ref="ScheduledTasksEventLogAppender"/>
    <appender-ref ref="ErrorRollingLogFileAppender"/>
  </logger>

  <logger name="Errordite.Automation">
    <level value="DEBUG"/>
    <appender-ref ref="TraceAppender"/>
  </logger>

  <logger name="Errordite.Tests">
    <level value="DEBUG"/>
    <appender-ref ref="TraceAppender"/>
  </logger>
</log4net>