<?xml version="1.0"?>
<configuration>
  <components>
    <component id="RavenConfiguration"
           lifestyle="singleton"
           type="Errordite.Core.RavenDb.RavenConfiguration, Errordite.Core">
      <parameters>
        <Endpoint>http://dev-raven.errordite.com</Endpoint>
      </parameters>
    </component>
  </components>
</configuration>
