
@model Errordite.Web.Models.Account.OrganisationViewModel
           
@{
    ViewBag.Title = "Billing";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
    <div class="content">
        <p>You have no billing history</p>
    </div>
</section>


