
@using Errordite.Web.Models.Account
@model OrganisationViewModel
           
@{
    ViewBag.Title = "Cancel Subscription";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
	<div class="sidenav">
		@Html.Partial("Account/BillingTabs", BillingTab.Cancel)
        <div class="sidenav-content billing">
	        <div class="sidenav-tab active" id="cancel">
				Cancel your subscription here
			</div>
        </div>
    </div>
</section>


