
@using Errordite.Web.Models.Account
@model SubscriptionViewModel
           
@{
    ViewBag.Title = "Change Subsciption";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
	<div class="sidenav">
        <div class="sidenav-content billing">
	        <div class="sidenav-tab active" id="change">
				Change your subscription
			</div>
        </div>
    </div>
</section>


