
@using Errordite.Web.Extensions
@model Errordite.Web.Models.Account.OrganisationViewModel
           
@{
    ViewBag.Title = "Downgrade Payment Plan";
}

@section header
{
    @Html.Partial("Account/Tabs") 
}

<section class="centered">
    <div class="content">
        <p>
            During the <strong>Errordite beta</strong> you are limited to the free trial plan which is equivalent to the <strong>Small Plan</strong>, see below for details. Once the Beta is complete your 
            organisation will begin its 1 month free trial, at the end of the free trial, you will be able to upgrade to the payment plan of your choice. See <a href="@Url.Pricing()">pricing</a> for 
            more information on our plans.
        </p>
    </div>
</section>


