@using Errordite.Web.Extensions
@using Errordite.Web.Models.Errors
@model ErrorPageViewModel

@{
    ViewBag.Title = "Errors";
}

<section id="errors" class="centered">
    <div class="content">
        @if (!Model.ErrorsViewModel.Applications.Any())
        {
            <p>You do not have any applications set up, <a href="@Url.AddApplication()">click here to create an application.</a></p>    
        }
        else
        {
            @Html.Partial("Errors/ErrorCriteria", Model.ErrorsViewModel)
            <div class="clear"></div>
            @Html.Partial("Errors/ErrorItems", Model.ErrorsViewModel)
        }
    </div>
</section>