
@model Errordite.Web.Areas.System.Models.Services.SystemStatusViewModel

@{
    ViewBag.Title = "System Status";
}
   
@section footerassets
{
    <script type='text/javascript' src="@Url.Content("~/assets/js/services.js")"></script>
}

<section class="centered" id="services">
    <div class="content">
        
        <div class="form">
            <ul>
                <li>
                    @Html.DropDownListFor(m => m.RavenInstanceId, Model.RavenInstances)
                    <a href="#" id="refresh" class="btn btn-blue btn-medium">Refresh</a>
                </li>
            </ul>
        </div>
        
        @foreach (var serviceStatus in Model.Services)
        {
            @Html.Partial("ServiceInfo", serviceStatus)
        }
    </div>
</section>  
