
@using CodeTrip.Core.Extensions
@using Errordite.Web.Models.Dashboard
@model ActivityFeedViewModel
           
@{
    ViewBag.Title = "Activity ActivityLog";
}

<div class="dark-container">
    <section class="centered">
        @Html.Partial("Dashboard/Links", Model)
    </section> 
</div>
<section id="feed" class="centered">
    @if (Model.Paging.TotalItems > 0)
    {
        <div class="content">
            <div>
                @foreach (var item in Model.Feed)
                {
                    Html.RenderPartial("Issue/HistoryItem", item);
                }
            </div>
            <div>
                <table class="table table-bordered">
                    <tfoot>
                        <tr>
                            <td>
                                @Html.Partial("Pagination", Model.Paging)
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
    else
    {
        if (Model.SelectedApplicationId.IsNotNullOrEmpty())
        {
            <p class="highlight-center">There has been no activity for the "@Model.SelectedApplicationName" application</p>
        } 
        else
        {
            <p class="highlight-center">There has been no activity for any of your organisation's applications</p>
        }  
    }
</section>


