<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="devutility" type="Errordite.Utils.DevUtility.Configuration.DevUtilityConfiguration, Errordite.Utils.DevUtility"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <devutility>
    <services>
      <service name="ErrorditeReceptionService" 
               displayName="Errordite Reception Service" 
               description="Recieves error messages from queue writes them to Raven"
               relativePath="core\Errordite.Reception.Service"
               isNServiceBusService="true">
      </service>
      <service name="ErrorditeNotificationsService"
               displayName="Errordite Notifications Service"
               description="Sends notifications to end users"
               relativePath="core\Errordite.Notifications.Service"
               isNServiceBusService="true">
      </service>
      <service name="ErrorditeEventsService"
               displayName="Errordite Events Service"
               description="Responds to system events"
               relativePath="core\Errordite.Events.Service"
               isNServiceBusService="true">
      </service>
    </services>
  </devutility>
</configuration>
