/*
    1. Layout
    2. Common
    3. Tabs
    4. Forms
    5. Toggle
    6. Buttons
    7. Menu
    8. Tables
    9. Pagination
    10. Image Grid
    11. Notifications
    12. Errors Page
    13. Issue Page
    14. Issues Page
    15. Audit Page
    16. Home Page
    17. Help
    18. Admin area
    19. Code pretty printing
*/

/*-----------------------------------------------------------------------------------*/
/*	1. Layout
/*-----------------------------------------------------------------------------------*/

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 0.9em;
  width: 100%;
  height: 100%;
  min-width: 950px;
  background-color: #fff;
}

#body {
  width: 100%;
  height: 100%;
  min-width: 950px;
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -40px;
}

#head {
  min-width: 950px;
  position: fixed;
  width: 100%;
  height: 50px;
  font-size: 0.85em;
  background: #555;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#555555');
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#555555));
  background: -moz-linear-gradient(top, #242424, #555555);
  z-index: 1;
}

#head-left {
  float: left;
  width: 110px;
  padding-top: 15px;
  color: #fff;
  font-size: 2.0em;
  font-weight: bold;
  margin-top: -4px;
  .logo {
    padding-left: 10px;
  }
  span a {
    color: #fff;
  }
}

#head .floatright {
  float: right;
  margin-right: 5px;
}

#head-links {
  float: right;
  padding: 8px 10px 4px;
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      padding: 0 5px;
    }
  }
  ul > li {
    display: block;
    float: left;
    color: #EFEFEF;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    a {
      display: block;
      float: left;
      color: #EFEFEF;
      text-decoration: none;
      font-weight: bolder;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#head {
  #auth {
    height: 15px;
    text-align: right;
    float: right;
    color: #9C9C9C;
    text-transform: uppercase;
    padding-right: 15px;
    margin-top: -2px;
    a {
      text-decoration: none;
      font-weight: bolder;
      color: #EFEFEF;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #fff;
      font-weight: bold;
    }
  }
  .issue-link {
    text-transform: uppercase;
    margin: 11px 15px 0 0;
    font-weight: bold;
    color: #fff;
    input {
      &[type=text] {
        width: 46px;
        height: 12px;
      }
      margin-top: 3px;
    }
    &.search input[type=text] {
      width: 115px;
    }
    .input-group {
      input {
        &[type=submit] {
          -webkit-border-radius: 0 3px 3px 0;
          -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
        }
        &[type=text] {
          -webkit-border-radius: 3px 0 0 3px;
          -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
          margin-right: -3px;
        }
      }
      .btn-mini {
        padding: 3px 6px;
      }
    }
  }
}

#footer {
  height: 39px;
  background: #EDEDED;
  border-top: 1px solid #D8D8D8;
  clear: both;
}

.push {
  clear: both;
}

#footer p {
  line-height: 39px;
  vertical-align: middle;
  font-size: 0.9em;
  &.left {
    margin-left: 5px;
    float: left;
  }
  &.right {
    margin-right: 15px;
    float: right;
  }
}

.push {
  height: 40px;
}

p.heading {
  font-size: 1.1em;
}

#body {
  .content {
    padding: 0;
    background: #fff;
  }
  .head {
    padding-top: 50px;
    border-top: 1px #D8D8D8 solid;
    background-color: #F7F7F7;
    .border {
      border-bottom: 1px #D8D8D8 solid;
      margin-top: 50px;
    }
  }
}

.colfull {
  width: 100%;
  float: left;
  padding: 0;
  &.buttons {
    margin: 10px 0 10px 0;
  }
}

.hero-unit {
  padding: 40px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  width: 800px;
  p {
    span.hero-small {
      font-size: 16px;
      line-height: 20px;
    }
    &.small {
      font-size: 16px;
    }
  }
  .heading {
    text-align: center;
    padding: 0 0 20px 0;
  }
  h2.heading-small {
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 28px;
  }
  .buttons {
    text-align: center;
    padding: 20px 0 0 0;
  }
}

.thumbnail {
  height: 260px;
  background-color: #fff;
  padding: 8px;
  h5 {
    text-align: justify;
  }
}

.thunbnail p {
  text-align: justify;
}

.panel {
  margin-left: 20px;
  float: left;
  &.first {
    margin-left: 0;
  }
}

a {
  cursor: pointer;
}

ul.bullet-list li {
  margin: .5em 0;
}

/*-----------------------------------------------------------------------------------*/
/*	2. Common
/*-----------------------------------------------------------------------------------*/

.base {
  margin: 0 auto;
  width: 940px;
  z-index: 1;
  &.fullwidth {
    width: 100%;
  }
  &.centered-narrow {
    width: 450px;
  }
  &.centered-wide {
    width: 710px;
  }
  &.left {
    float: left;
  }
  &.left-slim {
    width: 275px;
    float: left;
  }
  &.left-narrow {
    width: 400px;
    float: left;
  }
  &.left-wide {
    width: 735px;
    float: left;
  }
  &.left-extra-wide {
    width: 825px;
    float: left;
  }
  > {
    h2, h1 {
      color: white;
      font-size: 0.95em;
      text-transform: uppercase;
      font-weight: bold;
      background: #829AA8;
      background: -moz-linear-gradient(#829aa8, #405a6a);
      background: -webkit-linear-gradient(#829aa8, #405a6a);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#829aa8',endColorstr='#405a6a')";
      border: 1px solid #677C89;
      border-bottom-color: #6B808D;
      border-radius: 5px 5px 0 0;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
      margin: 0;
      padding: 6px 8px;
      position: relative;
      line-height: 22px;
    }
    h2 span, h1 span {
      color: #E9F1F4;
      font-weight: bold;
      text-shadow: none;
      float: right;
    }
  }
  .base-content {
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
  }
  .base-noheader {
    background-color: #F7F7F7;
    padding: 15px;
    overflow: hidden;
    border-style: solid;
    border-color: #D8DEE2;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    h1 {
      font-size: 1.4em;
    }
    .title {
      margin: 0 0 20px 0;
      border-bottom: 1px solid #D8DEE2;
      padding-bottom: 5px;
      &.noborder {
        border: 0;
        margin: 0 0 5px 0;
      }
    }
  }
}

.nav-centered {
  .nav {
    margin-bottom: 0;
  }
  .nav-tabs {
    border: 0;
    > .active > a {
      background-color: #F7F7F7;
      &:hover {
        background-color: #F7F7F7;
      }
    }
  }
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

.clear-space {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  padding-bottom: 15px;
}

.hidden {
  display: none;
}

.left {
  float: left;
  margin-right: 20px;
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 20px;
}

.left-full {
  float: left;
  width: 100%;
}

.no-margin {
  margin: 0;
}

#wizard .no-margin {
  margin: 0;
  margin-bottom: 10px;
}

span.cancel {
  margin: 25px 0 0 10px;
}

td.word-break {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

#pagetitle h1 {
  font-size: 1.4em;
  font-weight: bold;
  float: left;
  text-align: left;
  padding: 6px 0 4px 10px;
  i {
    margin: 3px 5px 0 0;
  }
}

h3 {
  margin-bottom: 5px;
}

a.clearlink {
  margin-top: 5px;
}

h1.small {
  font-size: 1.3em;
  line-height: 20px;
}

h2.small {
  font-size: 1.0em;
}

h3.small {
  font-size: 0.9em;
}

h2 {
  &.home {
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.5em;
    font-weight: bold;
  }
  &.subtitle {
    border-bottom: 1px dotted #444;
    line-height: 24px;
    margin: 0 0 20px 0;
    padding-bottom: 7px;
    text-shadow: none;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.0em;
    font-weight: bolder;
    span {
      &.title {
        float: left;
        margin-top: -28px;
      }
      &.alt {
        float: right;
        margin-top: -28px;
        font-size: 0.85em;
      }
    }
    a {
      text-transform: none;
    }
  }
}

span {
  &.field-validation-error {
    color: red;
  }
  &.strong-dark {
    font-weight: bold;
  }
}

.radio, .checkbox {
  padding-left: 0px;
}

.right-border {
  border-right: 1px solid grey;
}

.row-margin {
  margin: 20px;
}

.row-fluid > [class*="span"] {
  margin-left: 0;
}

.spinner {
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0px;
  z-index: 1080;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity = 30);
  background-image: url('img/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}

#TimezoneId {
  width: 418px;
}

.nuget code {
  margin: 15px 0 15px 0;
  width: 600px;
  background-color: #202020;
  border: 3px solid silver;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 3px #6E6E6E;
  color: #E2E2E2;
  display: block;
  font: 1.1em 'andale mono', 'lucida console', monospace;
  line-height: 1.0em;
  overflow: auto;
  padding: 10px;
}

ul.breadcrumb {
  border: 0;
  border-bottom: 1px solid #DDD;
  padding: 6px 14px;
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------------*/
/*	3. Tabs
/*-----------------------------------------------------------------------------------*/

.nav-tabs {
  padding-left: 25px;
  > {
    li > a {
      margin-right: 5px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 0.85em;
      padding-top: 5px;
      padding-bottom: 5px;
      min-width: 50px;
      text-align: center;
    }
    .inactive > a {
      background-color: #0ca2d1;
      &:hover {
        background-color: #fff;
        color: #555;
        border: 1px solid #DDD;
      }
    }
    .active > a {
      background-color: #fff;
      &:hover {
        background-color: #fff;
      }
    }
  }
}

.inner-tab {
  float: left;
  width: 100%;
}

.inner-tabs {
  margin-right: 25px;
  ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      margin: 0 2px -1px 0;
      z-index: 10;
      a {
        border: 1px solid #D8D8D8;
        border-bottom: none;
        display: block;
        overflow: hidden;
        padding: 5px 10px 0 10px;
        height: 24px;
        background: #FBFBFB;
        color: #444444;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        &:hover {
          color: #0ca2d1;
          text-decoration: none;
        }
      }
      &.ui-tabs-selected a {
        height: 25px;
        background: #fff;
        color: #0ca2d1;
      }
    }
  }
  .inner-tab {
    background: #fff;
    padding: 10px;
    border: 1px solid #D8D8D8;
  }
  .hidden {
    display: none;
  }
  i {
    margin-top: 2px;
    margin-right: 5px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	4. Forms
/*-----------------------------------------------------------------------------------*/

form {
  margin: 0;
}

.errorditeform {
  text-align: left;
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    margin: 0;
    label {
      margin-bottom: 3px;
    }
    input[type="text"] {
      width: 318px;
    }
  }
}

input[type="password"] {
  width: 318px;
}

.errorditeform {
  li {
    select {
      width: 330px;
    }
    textarea {
      width: 94%;
      height: 150px;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
  ::-webkit-input-placeholder, ::-moz-placeholder {
    color: #444;
  }
  input {
    &[type='text'], &[type='password'] {
      padding: 5px;
      border: 1px solid #cfcfcf;
      color: #444444;
      margin-bottom: 10px;
    }
  }
  select, textarea {
    padding: 5px;
    border: 1px solid #cfcfcf;
    color: #444444;
    margin-bottom: 10px;
  }
  input {
    &[type='text']:focus, &[type='password']:focus {
      padding: 5px;
      border: 1px solid #4ec8ee;
      margin-bottom: 10px;
    }
  }
  select:focus, textarea:focus {
    padding: 5px;
    border: 1px solid #4ec8ee;
    margin-bottom: 10px;
  }
  select {
    height: 30px;
    border: 1px solid #cfcfcf;
    &:focus {
      height: 30px;
      border: 1px solid #cfcfcf;
    }
  }
  li {
    &.cbox {
      margin-top: 10px;
      input {
        float: left;
      }
      label {
        vertical-align: top;
        padding-left: 5px;
        display: inline;
      }
    }
    &.buttons {
      margin: 20px 0 10px 0;
    }
    &.multicbox {
      input {
        float: left;
        margin: 5px;
        vertical-align: middle;
      }
      label {
        vertical-align: middle;
        padding: 3px;
      }
    }
  }
}

.custom-select {
  width: 328px;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  margin-top: 3px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  &.border {
    border: 1px solid #CFCFCF;
  }
  ul {
    margin: 5px;
    padding: 0;
  }
  &.notifications {
    height: 100px;
    width: 340px;
  }
  li.cbox label {
    display: block;
    padding-left: 20px;
  }
}

.custom-select-overflow {
  height: 385px;
  overflow-y: auto;
}

.errorditeform .cbox-fix {
  clear: both;
  margin-top: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*	5. Toggle
/*-----------------------------------------------------------------------------------*/

.toggle {
  margin: 0 0 15px 0;
  h4 {
    font-size: 0.9em;
    padding: 6px;
    background: #F4F4F4;
    border: 1px solid #D8D8D8;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    color: #555;
  }
}

.toggle-inner {
  padding: 7px;
  background: #fff;
  border: 1px solid #D8D8D8;
  border-top: none;
  text-align: left;
}

a.button.spaced, input.button.spaced {
  margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*	6. Menu
/*-----------------------------------------------------------------------------------*/

.menu-trigger {
  position: relative;
  ul.menu {
    display: none;
    position: absolute;
    top: 18px;
    left: -20px;
    padding: 5px;
    list-style: none;
    border: solid 1px #677C89;
    width: 140px;
    background: #555;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#555555');
    background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#555555));
    background: -moz-linear-gradient(top, #242424, #555555);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 1010;
  }
  &:hover ul.menu {
    display: block;
  }
  ul {
    &.menu li {
      padding: 2px 5px;
      width: 130px;
    }
    &.pull-right {
      right: 0;
      left: auto;
    }
    &.menu li {
      &:hover {
        background-color: #9C9C9C;
      }
      a {
        display: block;
      }
    }
  }
  > span {
    cursor: default;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	7. Tables
/*-----------------------------------------------------------------------------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #DDD;
  margin: 0 0 10px 0;
  text-align: left;
  width: 100%;
  &.payments {
    th {
      padding: 10px;
    }
    td {
      vertical-align: middle;
      width: 100px;
    }
    tr.current-plan {
      font-weight: bold;
    }
  }
  &.nogradient {
    margin-top: 15px;
  }
}

th {
  white-space: nowrap;
  color: #fff;
  line-height: 22px;
  padding: 6px 8px;
  vertical-align: middle;
  text-align: left;
  background: #829AA8;
  background: -moz-linear-gradient(#829aa8, #405a6a);
  background: -webkit-linear-gradient(#829aa8, #405a6a);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#829aa8',endColorstr='#405a6a')";
  border: 1px solid #677C89;
  border-bottom-color: #6B808D;
  margin: 0;
  font-weight: bold;
  border-top: 1px solid #DDD;
  text-transform: uppercase;
  font-size: 0.9em;
}

table.nogradient th {
  background: #F7F7F7;
  border: 0;
  border-left: 1px solid #DDD;
  color: #555;
}

td {
  padding: 8px 6px;
  vertical-align: middle;
  text-align: left;
  border-top: 1px solid #DDD;
}

tfoot {
  background-color: #F7F7F7;
}

th.sort span {
  padding: 0 3px 0 3px;
}

td {
  &.collapsed {
    background: url('img/plus.png') no-repeat center;
    &:hover {
      background: url('img/plus-grey.png') no-repeat center #f4f4f4;
    }
  }
  &.expanded {
    background: url('img/minus.png') no-repeat center;
    &:hover {
      background: url('img/minus-grey.png') no-repeat center #f4f4f4;
    }
  }
}

div.table {
  width: 100%;
  padding-bottom: 70px;
  min-width: 800px;
  max-width: 800px;
  div.trow {
    float: left;
    width: 200px;
    padding: 0 0 7px 0;
  }
}

th a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.sort-selected {
  text-decoration: underline;
}

/*-----------------------------------------------------------------------------------*/
/*	8.	Pagination
/*-----------------------------------------------------------------------------------*/

.paging {
  line-height: 32px;
  height: 32px;
  padding: 2px 5px 0 5px;
  text-transform: uppercase;
  font-size: 0.85em;
  div {
    &.pages {
      float: left;
      width: 20%;
      text-align: left;
    }
    &.items {
      float: right;
      width: 25%;
      text-align: right;
    }
    &.pagination {
      width: 55%;
      float: left;
      text-align: center;
      margin-top: 0px;
    }
  }
  input[type='text'] {
    width: 35px;
    height: 14px;
    margin: -4px 0 0 3px;
  }
  select {
    width: 50px;
    padding: 0;
    margin: -4px 0 0 3px;
    height: 24px;
    line-height: 24px;
  }
}

.pagination {
  height: 0;
  margin: 0;
  a {
    padding: 0 14px;
    line-height: 28px;
    background-color: #fff;
  }
  .disabled {
    span {
      background-color: #fff;
    }
    a {
      background-color: #fff;
      &:hover {
        background-color: #fff;
      }
    }
  }
}

.paging div.pages i {
  margin-left: 8px;
}

/*-----------------------------------------------------------------------------------*/
/*	9. Alerts
/*-----------------------------------------------------------------------------------*/

.alert-container {
  margin: 0 3px 3px 3px;
  padding: 5px 2px 2px 2px;
  display: none;
  position: absolute;
  top: -3px;
  width: 600px;
  height: 0px;
  max-height: 212px;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 10000;
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  .alert {
    margin-bottom: 2px;
  }
  .well {
    margin-bottom: 2px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.85em;
    background-color: #D9EDF7;
    .close {
      text-transform: uppercase;
      font-size: 1.0em;
    }
    h5 a.close {
      opacity: 0.6;
      filter: alpha(opacity = 60);
    }
  }
}

.toggle-alerts {
  display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	10.	Custom Filters
/*-----------------------------------------------------------------------------------*/

.filters {
  .errorditeform {
    margin-bottom: 0px;
    float: left;
  }
  div {
    &.text, &.date {
      margin-right: 17px;
    }
    &.dropdown {
      margin-right: 5px;
    }
  }
  .buttons {
    width: 130px;
    float: left;
    margin-left: 3px;
    margin-top: 1px;
  }
  .action {
    float: right;
    display: none;
  }
  &.errorditeerrors div {
    &.text, &.date {
      margin-right: 5px;
      float: left;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*	11.	Notifications
/*-----------------------------------------------------------------------------------*/

#notifications {
  margin: 0;
  padding: 2px 5px;
  &.info {
    background: -moz-linear-gradient(#829aa8, #336633);
    background: -webkit-linear-gradient(#829aa8, #336633);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#829aa8',endColorstr='#336633')";
    border: 1px solid #677C89;
  }
  &.confirmation {
    background-color: #336633;
  }
  &.error {
    background-color: #993333;
  }
  span {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    a {
      color: #fff;
    }
    &.arrow {
      padding-right: 7px;
      font-size: 1.1em;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*	12.	Errors Page
/*-----------------------------------------------------------------------------------*/

.error-item {
  padding: 10px;
  background-color: #f7f7f7;
}

.error-info {
  max-height: 250px;
  overflow-x: auto;
  margin: 0 0 5px 0;
  word-break: break-all;
  word-wrap: break-word;
}

.error-stack {
  margin: 5px 0 0 0;
  text-align: left;
}

.error-rowstate {
  cursor: pointer;
  width: 22px;
  height: 20px;
}

#no-results {
  width: 100%;
  float: left;
  display: inline;
  text-align: left;
}

#errors .filters {
  .text, input[type='text'] {
    float: left;
    width: 300px;
  }
  .date {
    width: 125px;
    float: left;
    input[type='text'] {
      width: 125px;
      float: left;
    }
  }
  .dropdown-normal {
    float: left;
    width: 170px;
    margin-right: 5px;
    select {
      float: left;
      width: 170px;
      margin-right: 5px;
    }
  }
}

.dl-horizontal {
  dt {
    width: 225px;
    text-align: left;
    padding: 2px;
    margin-left: 5px;
    font-size: 0.9em;
  }
  dd {
    padding: 2px;
    margin-right: 5px;
    font-size: 0.9em;
    margin-left: 232px;
  }
}

pre, code {
  font-family: "Courier New", Courier;
  background-color: #ffffcc;
}

pre {
  &.prettyprint {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    padding: 12px 0 0 15px!important;
    background-color: #fff;
    color: black;
    line-height: 14px;
    border: 1px solid #D8DEE2!important;
    border-radius: 0;
  }
  &.lang-xml {
    .tag {
      color: maroon;
    }
    .att, .atn {
      color: red;
    }
    .atv {
      color: blue;
    }
    .com {
      color: darkgreen;
    }
  }
  &.lang-cs .typ {
    color: #2b91af;
  }
}

.rule-match, .new-rule-match {
  border: solid 1px;
  padding: 2px 0 2px 0;
}

.rule-match.last-selected, .new-rule-match.last-selected {
  border: solid 2px;
}

.rule-match {
  background-color: rgb(151, 249, 151);
  border-color: green;
}

.new-rule-match {
  background-color: yellow;
}

.old-rule-match {
  background-color: #ddd;
}

.rule-controls {
  .btn-mini {
    padding: 1px;
    margin-right: 2px;
    margin-left: 2px;
  }
  position: absolute;
  background-color: white;
  padding: 3px;
  display: inline;
  padding-left: 6px;
}

.error-stack .rule-controls {
  background-color: #FFC;
}

#errors {
  .st-type, .st-message {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	13.	Issue Page
/*-----------------------------------------------------------------------------------*/

#pagetitle {
  h1.issue {
    padding: 0;
    margin: 8px 5px 0 15px;
    width: 90%;
    float: left;
  }
  h3.issue {
    padding: 0;
    margin: 5px 5px 10px 17px;
    float: left;
  }
}

#rules-adjusted {
  float: right;
  display: none;
  margin-top: -10px;
  margin-right: 15px;
}

#details .first, #tasks .first {
  padding: 0;
}

#details {
  .errorditeform {
    width: 750px;
  }
  input[type="text"] {
    width: 330px;
  }
  select {
    width: 340px;
  }
  textarea {
    width: 330px;
    height: 140px;
  }
  li.right {
    margin-right: -35px;
  }
  .actions {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #D8D8D8;
    width: 100%;
    float: right;
    input {
      width: 150px;
    }
    i {
      margin: 4px 20px 0 3px;
    }
    h3 {
      margin-bottom: 10px;
      margin-top: -5px;
    }
  }
  .reference {
    label {
      display: inline;
    }
    margin-bottom: 3px;
  }
}

#history .history-items {
  padding-right: 10px;
}

.history-item.well {
  margin-bottom: 15px;
}

#rules-table {
  .property, .operator {
    width: 15%;
    vertical-align: middle;
  }
  .value {
    width: 60%;
    vertical-align: middle;
  }
  .tablebtn {
    width: 10%;
    vertical-align: middle;
  }
  td {
    padding: 5px 0px 5px 7px;
  }
  select {
    width: 96%;
    margin: 0;
    height: 30px;
  }
}

#rules textarea {
  width: 96%;
  margin: 0;
  height: 30px;
}

#rules-table input[type='text'] {
  width: 400px;
}

#rules-new-issue select, #rules-orig-issue select {
  width: 150px;
}

#rules-new-issue input[type='text'], #rules-orig-issue input[type='text'] {
  width: 375px;
}

.graph {
  margin: 10px 0 20px 25px;
}

#rules {
  .col450 {
    margin: 0;
    padding: 0;
  }
  .content {
    margin-top: 5px;
  }
  .issue-name {
    width: 385px;
  }
}

#apply-rules-confirmation {
  display: none;
  input[type='text'] {
    width: 340px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	13.	Dashboard Page
/*-----------------------------------------------------------------------------------*/

#dashboard-stats, #dashboard-issues, #dashboard-errors {
  margin-bottom: 20px;
}

#dashboard-stats {
  div.stats {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 0.85em;
    width: 100%;
    text-align: left;
    float: left;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0 5px 0 0;
    margin: 0;
    display: block;
    float: left;
    color: #555;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
  }
}

#dashboard-links li a {
  display: block;
  float: left;
  color: #555;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
}

#dashboard-stats li {
  select {
    margin-top: -4px;
  }
  a:hover {
    text-decoration: underline;
  }
}

#dashboard .hero-unit.welcome-to-errodite {
  padding: 17px;
}

/*-----------------------------------------------------------------------------------*/
/*	14.	Issues Page
/*-----------------------------------------------------------------------------------*/

#issues .filters {
  .text, input[type='text'] {
    float: left;
    width: 318px;
  }
  .dropdown-normal {
    float: left;
    width: 200px;
    margin-right: 5px;
    select {
      float: left;
      width: 200px;
      margin-right: 5px;
    }
  }
  .date {
    width: 150px;
    float: left;
    input[type='text'] {
      width: 150px;
      float: left;
    }
  }
  .dropdown-small select {
    width: 200px;
    float: left;
    margin-right: 3px;
  }
}

#batch-status-modal {
  .controls.comment {
    margin-left: 50px;
  }
  textarea {
    width: 67%;
    height: 5em;
  }
}

#issues {
  .filters div.action .nav {
    margin-bottom: -3px;
  }
  .nav > li > a {
    &:hover {
      text-decoration: none;
      background-color: #5BB75B;
      color: #fff;
    }
    text-decoration: none;
    background-color: #5BB75B;
    color: #fff;
  }
  div.action .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
    margin-top: 6px;
    color: #fff;
  }
  .filters div.action .nav {
    margin-bottom: -3px;
  }
  .dropdown-small {
    .nav-pills {
      float: left;
      width: 200px;
      margin-top: -1px;
      margin-right: 4px;
    }
    .nav > li > a {
      &:hover {
        width: 175px;
        background-color: #fff;
        color: #555;
        border: 1px solid #cfcfcf;
        padding-top: 7px;
        padding-bottom: 6px;
      }
      width: 175px;
      background-color: #fff;
      color: #555;
      border: 1px solid #cfcfcf;
      padding-top: 7px;
      padding-bottom: 6px;
    }
    .caret {
      float: right;
    }
    .nav .open {
      .caret, &.active .caret, a:hover .caret {
        border-top-color: #08C;
        border-bottom-color: #08C;
      }
    }
    ul.dropdown-menu {
      width: 200px;
      li {
        a {
          margin-top: 4px;
        }
        &:hover {
          background-color: #08C;
          label {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*	15.	Audit Page
/*-----------------------------------------------------------------------------------*/

#audit .filters {
  .text, input[type='text'] {
    float: left;
    width: 180px;
  }
  .dropdown {
    float: left;
    width: 140px;
    select {
      float: left;
      width: 140px;
    }
  }
  .date {
    width: 105px;
    float: left;
    input[type='text'] {
      width: 105px;
      float: left;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*	16.	Home Page
/*-----------------------------------------------------------------------------------*/

#features {
  .thumbnails {
    margin: 15px 0 0 0;
    text-align: center;
  }
  .thumbnail {
    height: 260px;
    line-height: 260px;
    margin-left: 0;
    p {
      margin-top: 3px;
    }
  }
}

.home-features {
  padding-top: 10px;
}

#welcome-container {
  .hero-unit {
    border: none;
  }
  background: #eeeeee;
}

.btn-signup {
  padding-left: 60px;
  padding-right: 60px;
}

#welcome-container .other-welcome-actions {
  font-size: 12px;
  line-height: 1em;
  text-align: center;
}

#how-it-works-container {
  border-top: solid 1px;
  margin-top: 25px;
  padding-top: 18px;
  h2 {
    text-align: center;
    font-size: 46px;
    line-height: 50px;
  }
}

.help-step {
  padding: 10px 10px 10px 10px;
  margin: 9px auto;
  background: #eee;
  border-radius: 3px;
  width: 800px;
  border: 1px solid #D8D8D8;
  .step-number {
    font-size: 60px;
    line-height: 1em;
  }
  .step-info {
    width: 16%;
    display: inline-block;
  }
  &.step-1 .step-info {
    margin-left: 54px;
  }
  &.step-2 .step-info {
    margin-left: 26px;
  }
  &.step-4 {
    .step-info {
      margin-left: 30px;
      width: 43%;
    }
    .rock-star-disclaimer {
      margin-top: 52%;
    }
  }
  &.step-5 .step-info {
    margin-right: 100px;
  }
  .step-img {
    display: inline;
  }
  img {
    vertical-align: top;
    border: white solid 3px;
    padding: 12px;
    border-radius: 10px;
    background: white;
  }
  &.step-final {
    .plus {
      font-size: 18px;
      line-height: 1em;
    }
    .buttons {
      text-align: center;
      padding: 20px 0 0 0;
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*	17.	Help Pages
/*-----------------------------------------------------------------------------------*/

.help {
  font-size: 1.05em;
  p {
    font-size: 1.1em;
  }
  h3 {
    margin: 15px 0 15px 0;
    &.all-plans {
      font-size: 1.2em;
      span {
        &:first-child {
          margin-left: 0;
        }
        float: left;
        margin-left: 20px;
        i {
          margin-top: 2px;
        }
      }
    }
  }
  .base.left-slim {
    padding: 10px 84px;
    ul {
      padding: 10px 0 10px 0;
    }
  }
  .download {
    margin: 2em 0 1em 41%;
  }
}

table.features {
  border: 0;
  border-collapse: separate;
  tr td {
    &.img {
      width: 220px;
      text-align: center;
      background-color: #F7F7F7;
      padding: 10px 0;
      div {
        background-color: #fff;
        padding: 10px 0;
        border: 1px solid #D8DEE2;
      }
    }
    &.blurb {
      background-color: #F7F7F7;
      padding: 15px;
    }
  }
}

div.img {
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #D8DEE2;
}

.json-api .str {
  color: black;
}

pre.json-api {
  background-color: white;
}

/*-----------------------------------------------------------------------------------*/
/*	18.	Admin Pages
/*-----------------------------------------------------------------------------------*/

input#Token {
  cursor: text;
}

.payment-plans p {
  width: 799px;
  padding: 0 0 0 2px;
}

/*-----------------------------------------------------------------------------------*/
/*	19.	Pretty printing styles. Used with prettify.js. (Google code prettifier).  Overridden elsewhere.
/*-----------------------------------------------------------------------------------*/

/* SPAN elements with the classes below are added by prettyprint. */

.pln {
  color: #000;
}

/* plain text */

@media screen {
  .str {
    color: #080;
  }
  /* string content */
  .kwd {
    color: #008;
  }
  /* a keyword */
  .com {
    color: #800;
  }
  /* a comment */
  .typ {
    color: #606;
  }
  /* a type name */
  .lit {
    color: #066;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo {
    color: #660;
  }
  .tag {
    color: #008;
  }
  /* a markup tag name */
  .atn {
    color: #606;
  }
  /* a markup attribute name */
  .atv {
    color: #080;
  }
  /* a markup attribute value */
  .dec, .var {
    color: #606;
  }
  /* a declaration; a variable name */
  .fun {
    color: red;
  }
  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun, .opn, .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}

