body, html { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; width: 100%; height: 100%; min-width:974px;background-color:#fff;}
ul { list-style: none;}

#welcome-bar-container { width: 100%;background: #3D3D3D; height: 25px;}
#welcome-bar {margin: 0 auto;width: 974px;text-align: right;width: 974px; color: #fff;font-size: 0.9em}
#welcome-bar .links { float: right; margin-top: 4px;}
#welcome-bar a { color: #fff;}
#welcome-bar a:hover { text-decoration: underline;}

#header-container { width: 100%;background: #292C31; height: 60px;}
#header {margin: 0 auto;width: 974px;}
#logo { float: left;width: 250px;margin-top: 15px;}
#search { float: left;width: 300px; margin-top: 13px;}
#search .search-input { background: #525252;border: 0;height: 26px;width: 250px;color:#fff}
#search .search-input:focus { border: 0;box-shadow: none; }
#search .search-btn {color:#92C7E7 ;text-transform: uppercase;padding: 4px 7px 4px 7px;margin-right: -6px; font-size: 0.85em;font-weight: bold;border: 1px solid #3D3D3D; background:#3D3D3D}
#search .search-box {height: 34px;-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.6); box-shadow: 0px 0px 3px rgba(0,0,0,0.6); border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #525252; }

#nav { float: right;}
.nav {list-style:none; font-weight:bold; margin-bottom:10px; float:left; width:100%;}
.nav li.nav-item {float:left; margin-left:10px;position: relative;}
.nav li.nav-item {line-height:50px}
.nav li.nav-item > a, .nav li.nav-item > a:hover {background: #292C31;display:block;padding: 5px; color:#fff; text-decoration:none;}
.nav li.nav-item > a:hover { text-decoration: underline;}

.nav ul { background:rgba(255,255,255,0); background:#92C7E7;  list-style:none; position:absolute; left:-9999px;padding: 10px;width: 150px;}
.nav ul li { padding-top:0px; float:none;padding: 5px;}
.nav ul a { white-space:nowrap;color: #fff; }
.nav li.dashboard:hover ul { left:-20px; }
.nav li.sysadmin:hover ul { left:-20px; }
.nav li.admin:hover ul { left:-90px; }
.nav li.docs:hover ul { left:-150px; }
.nav li.dashboard:hover div.pointer::before { left: 35px;}
.nav li.admin:hover div.pointer::before { left: 22px;}
.nav li.sysadmin:hover div.pointer::before { left: 50px;}
.nav li.docs:hover div.pointer::before { left: 16px;}
.nav li:hover ul a:hover { text-decoration:underline; color:#555}
.nav div.pointer::before {border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #92C7E7;border-style: solid;border-width: 5px;content: " ";height: 0;left: -9999px;position: absolute;top: 50px;width: 0;}