$lightblue: #F3F8FC;
$mediumblue: #92C7E7;
$darkblue:#95C0DF;
$verydarkblue: #729DB7;
$verylightbrown:#8E9090;
$lightbrown: #292C31;
$mediumBrown:#3D3D3D;
$darkbrown: #525252;
$greyblue:#E7F0F5;
$tableBorder:#CDD4DA;
$tableAlternateColor:#ECF4F7;
$headerFont: 'Open Sans', sans-serif;
$minWidth: 974px;
$normalFontWeight: 300;
$extraSmallFontWeight: 400;
$boldFontWeight: 600;
$extraBoldFontWeight: 700;
$borderRadius: 3px;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/normal-700.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/normal-300.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/normal-600.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/normal-400.woff') format('woff');
}

body, html {
  margin: 0;
  padding: 0;
  font-family: $headerFont;
  width: 100%;
  height: 100%;
  min-width: $minWidth;
  background-color: #fff;
  font-size:14px;
  color:$darkbrown;
}

.container {
	min-height:100%;
	position:relative;
}

ul {
  list-style: none;
}

input, textarea, select {
	display: inline-block;
	width: 210px;
	height: 24px;
	padding: 4px;
	font-size: 13px;
	line-height: 24px;
	color: $darkbrown;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	&:focus {
	  border-color: rgba(82, 168, 236, 0.8);
	  outline: 0;
	  outline: thin dotted \9;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 13pxWeight;
	color:$mediumblue;
}

h1 {
	font-size:24px;
	margin:20px 0 15px 0;
}
h2 {
	font-size:16px;
	margin:10px 0 5px 0;
}
h3 {
	font-size:13px;
}
h4 {
	font-size:12px;
}
h5 {
	font-size:11px;
}

a {
	text-decoration:none;
	font-size:14px;
	color:$verydarkblue;
	&:hover{
		text-decoration:underline;
	}
}

pre {
  &.prettyprint {
    font-size: 12px;
    font-family: Consolas, Menlo, Monaco, Lucida Console;
    padding: 12px 0 0 15px!important;
    line-height: 14px;
    border: 1px solid #D8DEE2!important;
    border-radius: 0;
  }
  &.lang-xml {
    .tag {
      color: maroon;
    }
    .att, .atn {
      color: red;
    }
    .atv {
      color: blue;
    }
    .com {
      color: darkgreen;
    }
  }
  &.lang-cs .typ {
    color: #2b91af;
  }
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; 
}
.table {
  width: 100%;
  margin-bottom: 18px;
  th, td {
    padding: 10px 8px 8px 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid $tableBorder;
  }
  th {
    font-weight: $boldFontWeight;
	background-color:#D7E5EE;
	color:#7B8992;
	text-transform:uppercase;
	font-size:11px;
	white-space: nowrap;
  }
  .table-info-header {
	color:#000;
	font-weight: $boldFontWeight;
	font-size: 12px;
  }
  .table-info {
	color: $mediumblue;
	font-size: 12px;
  }
}
.table-bordered {
  border: 1px solid $tableBorder;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  border-radius: $borderRadius;
  th, td {
    border-left: 1px solid $tableBorder;
  }
  thead:first-child tr:first-child th {
    border-top: 0;
  }
  tbody:first-child tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: $borderRadius 0 0 0;
    -moz-border-radius: $borderRadius 0 0 0;
    border-radius: $borderRadius 0 0 0;
  }
  thead:first-child tr:first-child th:last-child, tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 $borderRadius 0 0;
    -moz-border-radius: 0 $borderRadius 0 0;
    border-radius: 0 $borderRadius 0 0;
  }
  thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 $borderRadius;
    -moz-border-radius: 0 0 0 $borderRadius;
    border-radius: 0 0 0 $borderRadius;
  }
  thead:last-child tr:last-child th:last-child, tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 $borderRadius 0;
    -moz-border-radius: 0 0 $borderRadius 0;
    border-radius: 0 0 $borderRadius 0;
  }
  tbody tr:nth-child(even) {
	td, th {
		background-color: $tableAlternateColor;
    }
  }
  tfoot td {
    padding:8px 8px 4px 8px;
  }
}

.paging {
  padding: 0;
  font-size: 11px;
  div {
    &.pages {
      float: left;
      width: 20%;
      text-align: left;
	  margin-top: 9px;
    }
    &.items {
      float: right;
      width: 25%;
      text-align: right;
	  margin-top: 9px;
    }
    &.pagination {
      width: 55%;
      float: left;
      text-align: center;
	  margin-top: -10px;
    }
  }
  input[type='text'] {
    width: 35px;
    height: 14px;
    margin: -4px 0 0 3px;
  }
  select {
    width: 50px;
    padding: 0;
    margin: -4px 0 0 3px;
  }
    div.pages i {
    margin-left: 8px;
  }
  .pagination {
    ul {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin-left: 0;
      margin-bottom: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    li {
      display: inline;
    }
    a {
      float: left;
      padding: 0 12px;
      line-height: 30px;
      text-decoration: none;
      border: 1px solid #ddd;
      border-left-width: 0;
	  font-size:11px;
	  text-transform:uppercase;
      &:hover {
        background-color: $greyblue;
      }
    }
    .active a {
      background-color: $greyblue;
      color: $mediumBrown;
     cursor: default;
    }
   .disabled {
     span {
       color: $mediumBrown;
       background-color: transparent;
       cursor: default;
     }
     a {
       color:#B5BEC3;
       background-color: transparent;
       cursor: default;
     }
   }
   li {
     &:first-child a {
       border-left-width: 1px;
       -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
       border-radius: 3px 0 0 3px;
     }
     &:last-child a {
       -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
       border-radius: 0 3px 3px 0;
     }
   }
  }
 .pager {
    margin-left: 0;
    list-style: none;
    text-align: center;
    *zoom: 1;
    &:before {
      display: table;
      content: "";
    }
    &:after {
      display: table;
      content: "";
      clear: both;
    }
    li {
      display: inline;
    }
    a {
      display: inline-block;
      padding: 4px 12px;
      background-color: #fff;
      border: 1px solid #ddd;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      &:hover {
        text-decoration: none;
       background-color: #f5f5f5;
      }
    }
    .next a {
      float: right;
    }
    .previous a {
      float: left;
    }
    .disabled a {
      color: $mediumBrown;
      background-color: #fff;
      cursor: default;
      &:hover {
        color: $mediumBrown;
        background-color: #fff;
        cursor: default;
      }
    }
  }
}

section {
	width: 100%;
	background:#fff;
}

.centered {
  margin: 0 auto;
  width: $minWidth;
}

.four-col {
	width:23%;
	margin:5px;
	float:left;
}

.two-col {
	width:46%;
	margin:5px;
	float:left;
}

.rotate {
	margin-left:3px;
    display:inline-block;
	-webkit-transform: rotate(-270deg);
	-moz-transform: rotate(-270deg);
	-ms-transform: rotate(-270deg);
	-o-transform: rotate(-270deg);
}

.indented {
	margin: 0 0 0 25px;
}

.welcome-bar-container {
  width: 100%;
  background: $mediumBrown;
  height: 25px;
  .welcome-bar {
    margin: 0 auto;
    width: $minWidth;
    text-align: right;
    color: #fff;
    font-family: $headerFont;
    font-weight:$normalFontWeight;
    font-size:12px;
    .links {
      float: right;
      margin-top: 4px;
    }
    a {
      color: #fff;
      font-size:12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-container {
  width: 100%;
  background: $lightbrown;
  height: 60px;
  .header {
    margin: 0 auto;
    width: $minWidth;
  }
}

footer {
  margin-top:25px;
  width: 100%;
  height:80px;
  background: $mediumBrown;
  position:absolute;
  bottom:0;
  .footer {
	margin: 0 auto;
	width: $minWidth;
	text-align:center;
	color:$darkblue;
	font-weight: $normalFontWeight;
	font-size:14px;
	line-height:20px;
	padding-top:20px;
	nav {
	  width:100%;
	  float:left;
	  color:#fff;
	  font-size:12px;
	  a {
		font-size:12px;
		color:#fff;
	  }
	}
  }
}

.logo {
  float: left;
  width: 225px;
  margin: 15px 0 0 2px;
}

.search {
  float: left;
  width: 325px;
  margin: 13px 0 0 40px;
  .search-input {
    background: $darkbrown;
    border: 0;
    height: 26px;
    width: 275px;
    color: #fff;
    &:focus {
      border: 0;
      box-shadow: none;
    }
  }
  .search-btn {
    color: $mediumblue;
    text-transform: uppercase;
    padding: 4px 7px 4px 6px;
    font-size: 11px;
    font-weight: 13pxWeight;
    border: 0;
    background: $mediumBrown;
	width:30px;
	height:25px;
	line-height:18px;
  }
  .search-box {
    background: $darkbrown;
    width: 322px;
    height: 34px;
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
}

nav {
  float: right;
  .nav {
  list-style: none;
  margin: 0 0 10px 0;
  float: left;
  width: 100%;
  li.nav-item {
    float: left;
    margin-left: 15px;
    position: relative;
    line-height: 50px;
    > a {
      background: $lightbrown;
      display: block;
      padding: 5px;
      color: #fff;
	  font-size: 14px;
	  font-weight: $normalFontWeight;
	  text-decoration:none;
      &:hover {
        color: $mediumblue;
      }
	  small {
		margin-left:4px;
	  }
    }
  }
  ul {
    background: rgba(255, 255, 255, 0); 
    background: $mediumblue;
	margin: 0 0 9px 25px;
    list-style: none;
    position: absolute;
    left: -9999px;
	z-index: 9999;
    padding: 10px;
    width: 150px;
    li {
      padding-top: 0px;
      float: none;
      padding: 4px;
	  line-height:20px;
    }
    a {
      white-space: nowrap;
      color: #fff;
	  font-size: 14px;
	  font-weight: $normalFontWeight;
	  text-decoration:none;
	  &:hover {
		color:$darkbrown;
	  }
    }
  }
  li {
    &.dashboard:hover ul {
      left: -25px;
    }
    &.sysadmin:hover ul {
      left: -20px;
    }
    &.admin:hover ul {
      left: -80px;
    }
    &.docs:hover ul {
      left: -135px;
    }
    &.dashboard:hover div.pointer::before {
      left: 35px;
    }
    &.admin:hover div.pointer::before {
      left: 22px;
    }
    &.sysadmin:hover div.pointer::before {
      left: 50px;
    }
    &.docs:hover div.pointer::before {
      left: 16px;
    }
    &:hover ul a:hover {
      color: #555;
    }
  }

  div.pointer::before {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) $mediumblue;
    border-style: solid;
    border-width: 5px;
    content: " ";
    height: 0;
    left: -9999px;
    position: absolute;
    top: 50px;
    width: 0;
  }
}
}

.trail-container {
  width: 100%;
  background: $lightblue;
  height: 40px;
  .trail {
    margin: 0 auto;
    width: $minWidth;
    color:$verydarkblue;
    font-weight:400;
    font-size: 13px;
    .divider {
	  font-size: 14px;
	  padding:0 2px;
    }
    li {
	  float: left;
	  line-height: 36px;
	  a {
		color:$verydarkblue;
		font-size: 13px;
	  }
    }
    li:first-child {
	  margin-left:-18px;
    }
    li.active {
	  color: $darkbrown;
    }
  }
}

.tabs-container {
  width: 100%;
  background: $lightblue;
  height: 36px;
  border-bottom: 1px solid #DEE7EE;
  .tabs {
    margin: 0 auto;
    width: $minWidth;
    padding:8px 0 0 0;
    font-size:13px;
    li {
	  float:left;
	  > a {
		  margin-right: 7px;
		  text-transform: uppercase;
		  padding: 10px 15px 10px 15px;
		  border: 1px solid #DEE7EE;
		  -webkit-border-radius: $borderRadius $borderRadius 0 0;
		  -moz-border-radius: $borderRadius $borderRadius 0 0;
		  border-radius: $borderRadius $borderRadius 0 0;
		  background-color: $greyblue;
		  color:#B5BEC3;
		  text-decoration:none;
		  font-size: 13px;
		  font-weight: 13pxWeight;
		  &:hover {
			color: $mediumBrown;
			background-color: #ffffff;
		  }
	    }
      }
	  .active > a {
		border-bottom-color: transparent;
		color: $mediumBrown;
		background-color: #ffffff;
		cursor:default;
	  }
  }
}

.payment-plan {
	background-color:$greyblue;
	h2 {
		border-bottom:1px solid #fff;
		padding:6px 8px;
		color:$darkbrown;
		font-size:17px;
		margin:0;
		font-weight: $extraBoldFontWeight;
		span {
			float:right;
			font-size:13px;
			color:$verylightbrown;
			margin-top:3px;
			font-weight: $boldFontWeight;
		}
	}
	ul {
		padding:0 0 0 10px;
	}
	div {
		background-color:$darkblue;
		padding:7px 8px 8px 8px;
		a {
			color:#fff;
			font-weight: $boldFontWeight;
			font-size:13px;
			&:hover {
				text-decoration:none;
				color:$mediumBrown;
			}
		}
	}
}
