@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/normal-700.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/normal-300.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/normal-600.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/normal-400.woff") format("woff"); }

body, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  min-width: 974px;
  background-color: #fff;
  font-size: 14px; }

ul {
  list-style: none; }

input, textarea, select, .uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #525252;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  input:focus, textarea:focus, select:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

h1 {
  font-size: 18px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 13px; }

h4 {
  font-size: 12px; }

h5 {
  font-size: 11px; }

a {
  text-decoration: none;
  font-size: 14px;
  color: #71abd1; }
  a:hover {
    text-decoration: underline; }

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

section {
  width: 100%;
  background: #fff; }

.centered {
  margin: 0 auto;
  width: 974px; }

.welcome-bar-container {
  width: 100%;
  background: #3d3d3d;
  height: 25px; }

.welcome-bar {
  margin: 0 auto;
  width: 974px;
  text-align: right;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px; }
  .welcome-bar .links {
    float: right;
    margin-top: 4px; }
  .welcome-bar a {
    color: #fff;
    font-size: 12px; }
    .welcome-bar a:hover {
      text-decoration: underline; }

.header-container {
  width: 100%;
  background: #292c31;
  height: 60px; }

.header {
  margin: 0 auto;
  width: 974px; }

.logo {
  float: left;
  width: 225px;
  margin: 15px 0 0 2px; }

.search {
  float: left;
  width: 325px;
  margin: 13px 0 0 40px; }
  .search .search-input {
    background: #525252;
    border: 0;
    height: 26px;
    width: 275px;
    color: #fff; }
    .search .search-input:focus {
      border: 0;
      box-shadow: none; }
  .search .search-btn {
    color: #92c7e7;
    text-transform: uppercase;
    padding: 4px 7px 4px 6px;
    font-size: 11px;
    font-weight: 400;
    border: 0;
    background: #3d3d3d;
    width: 30px;
    height: 25px; }
  .search .search-box {
    background: #525252;
    width: 322px;
    height: 34px;
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

nav {
  float: right; }

.nav {
  list-style: none;
  margin: 0 0 10px 0;
  float: left;
  width: 100%; }
  .nav li.nav-item {
    float: left;
    margin-left: 15px;
    position: relative;
    line-height: 50px; }
    .nav li.nav-item > a {
      background: #292c31;
      display: block;
      padding: 5px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      text-decoration: none; }
      .nav li.nav-item > a:hover {
        color: #92c7e7; }
      .nav li.nav-item > a small {
        margin-left: 4px; }
  .nav ul {
    background: rgba(255, 255, 255, 0);
    background: #92c7e7;
    margin: 0 0 9px 25px;
    list-style: none;
    position: absolute;
    left: -9999px;
    z-index: 9999;
    padding: 10px;
    width: 150px; }
    .nav ul li {
      padding-top: 0px;
      float: none;
      padding: 4px;
      line-height: 20px; }
    .nav ul a {
      white-space: nowrap;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      text-decoration: none; }
      .nav ul a:hover {
        color: #525252; }
  .nav li.dashboard:hover ul {
    left: -25px; }
  .nav li.sysadmin:hover ul {
    left: -20px; }
  .nav li.admin:hover ul {
    left: -80px; }
  .nav li.docs:hover ul {
    left: -135px; }
  .nav li.dashboard:hover div.pointer::before {
    left: 35px; }
  .nav li.admin:hover div.pointer::before {
    left: 22px; }
  .nav li.sysadmin:hover div.pointer::before {
    left: 50px; }
  .nav li.docs:hover div.pointer::before {
    left: 16px; }
  .nav li:hover ul a:hover {
    color: #555; }
  .nav div.pointer::before {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #92c7e7;
    border-style: solid;
    border-width: 5px;
    content: " ";
    height: 0;
    left: -9999px;
    position: absolute;
    top: 50px;
    width: 0; }

.trail-container {
  width: 100%;
  background: #f3f8fc;
  height: 40px; }

.trail {
  margin: 0 auto;
  width: 974px;
  color: #71abd1;
  font-weight: 400;
  font-size: 13px; }
  .trail .divider {
    font-size: 14px;
    padding: 0 2px; }
  .trail li {
    float: left;
    vertical-align: middle;
    line-height: 35px; }
  .trail a {
    color: #71abd1;
    font-size: 13px; }
  .trail li.active {
    color: #525252; }

.tabs-container {
  width: 100%;
  background: #f3f8fc;
  height: 36px;
  border-bottom: 1px solid #DEE7EE; }

.tabs {
  margin: 0 auto;
  width: 974px;
  padding: 8px 0 0 0;
  font-size: 13px; }
  .tabs li {
    float: left; }
    .tabs li > a {
      margin-right: 7px;
      text-transform: uppercase;
      padding: 10px 15px 10px 15px;
      border: 1px solid #DEE7EE;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      background-color: #e7f0f5;
      color: #B5BEC3;
      text-decoration: none;
      font-size: 13px;
      font-weight: 400; }
      .tabs li > a:hover {
        color: #3d3d3d;
        background-color: #ffffff; }
  .tabs .active > a {
    border-bottom-color: transparent;
    color: #6B8F9D;
    background-color: #ffffff;
    cursor: default; }

