<?xml version="1.0"?>
<configuration>
  <components>
    <component id="Receive"
           lifestyle="singleton"
           type="Errordite.Core.Configuration.ServiceConfiguration, Errordite.Core">
      <parameters>
        <Service>Receive</Service>
        <PortNumber>800</PortNumber>
        <QueueAddress>https://sqs.eu-west-1.amazonaws.com/186350237634/errordite-receive-{0}</QueueAddress>
        <ServiceName>Errordite.Services</ServiceName>
        <ServiceDisplayName>Errordite Services</ServiceDisplayName>
        <ServiceDiscription>Processes incoming errors</ServiceDiscription>
        <Username>errordite_svc_rcp</Username>
        <Password>Err0rD1t3_R5v$</Password>
        <QueueProcessingThreads>1</QueueProcessingThreads>
        <RetryLimit>2</RetryLimit>
        <RetryDelayMilliseconds>100</RetryDelayMilliseconds>
        <MaxNumberOfMessages>2</MaxNumberOfMessages>
        <MaxOrganisationsPerMessageProcesor>1</MaxOrganisationsPerMessageProcesor>
      </parameters>
    </component>
    <component id="Notifications"
           lifestyle="singleton"
           type="Errordite.Core.Configuration.ServiceConfiguration, Errordite.Core">
      <parameters>
        <Service>Notifications</Service>
        <PortNumber>801</PortNumber>
        <QueueAddress>https://sqs.eu-west-1.amazonaws.com/186350237634/errordite-notifications-gaz</QueueAddress>
        <ServiceName>Errordite.Services</ServiceName>
        <ServiceDisplayName>Errordite Services</ServiceDisplayName>
        <ServiceDiscription>Send notifications to users</ServiceDiscription>
        <Username>errordite_svc_not</Username>
        <Password>Err0rD1t3_N0T$</Password>
        <QueueProcessingThreads>1</QueueProcessingThreads>
        <RetryLimit>2</RetryLimit>
        <RetryDelayMilliseconds>100</RetryDelayMilliseconds>
        <MaxNumberOfMessages>1</MaxNumberOfMessages>
        <MaxOrganisationsPerMessageProcesor>25</MaxOrganisationsPerMessageProcesor>
      </parameters>
    </component>
    <component id="Events"
           lifestyle="singleton"
           type="Errordite.Core.Configuration.ServiceConfiguration, Errordite.Core">
      <parameters>
        <Service>Events</Service>
        <PortNumber>802</PortNumber>
        <QueueAddress>https://sqs.eu-west-1.amazonaws.com/186350237634/errordite-events-gaz</QueueAddress>
        <ServiceName>Errordite.Services</ServiceName>
        <ServiceDisplayName>Errordite Services</ServiceDisplayName>
        <ServiceDiscription>Processes events raised from Errordite web application</ServiceDiscription>
        <Username>errordite_svc_evt</Username>
        <Password>Err0rD1t3_E7t$</Password>
        <QueueProcessingThreads>1</QueueProcessingThreads>
        <RetryLimit>2</RetryLimit>
        <RetryDelayMilliseconds>100</RetryDelayMilliseconds>
        <MaxNumberOfMessages>1</MaxNumberOfMessages>
        <MaxOrganisationsPerMessageProcesor>50</MaxOrganisationsPerMessageProcesor>
      </parameters>
    </component>
  </components>
</configuration>
