<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
        <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
        <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
        <section name="errordite" type="Errordite.Client.Configuration.ErrorditeConfigurationSection, Errordite.Client" />
    </configSections>

    <!--  NServiceBus logging level -->
    <Logging Threshold="DEBUG" />

    <MessageForwardingInCaseOfFaultConfig ErrorQueue="Errordite.Notifications.Service.Error"/>

    <connectionStrings>
        <add name="RavenDB" connectionString="Url = http://dev-raven.errordite.com;user=errordite_raven;password=Err0rD1t3_RVN$" />
    </connectionStrings>
    
    <errordite token="c0kH5d4B9FbfJxSScry5EQ==" enabled="false" endpoint="https://www.errordite.com/receiveerror" />
    
    <MsmqTransportConfig
       NumberOfWorkerThreads="1"
       MaxRetries="0" />

    <log4net configSource="config\log4net.config" />

    <castle>
        <include uri="file://Config/cache.config" />
        <include uri="file://Config/errordite.config" />
        <include uri="file://Config/email.config" />
        <include uri="file://Config/services.config" />
    </castle>

</configuration>