<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="errordite" type="Errordite.Client.Configuration.ErrorditeConfigurationSection, Errordite.Client" />
  </configSections>
  <errordite token="[YOUR-TOKEN-HERE]" enabled="true">
    <dataCollectors>
      <!--The DataCollectors configured here allow you to add custom data to your errors that are sent to Errordite.
      implement the Errordite.Client.Interfaces.IDataCollector interface and add an element to this config section as below.
      e.g. <dataCollector prefix="Sample" type="Errordite.Client.DataCollectors.MyDataCollector, Errordite.Client" />
      The prefix specified is prepended to all collected data items for display in Errordite.  -->
    </dataCollectors>
    <sanitiseParams>
      <!--To prevent sensitive data being sent to Errordite by the HttpContextDataCollector, any form parameters specified here will be obscured.
      Values for the match attribute can be "Exact" or "Contains". -->
      <param name="Password" match="Contains" />
    </sanitiseParams>
    <unwrapExceptions>
      <!--To strip off outer exceptions of particular types that are merely "wrapper" exceptions and do
      not contain any useful information themselves, add a type here.  In case of a matching exception,
      the inner exception is sent instead. -->
      <exception typeName="System.Web.HttpUnhandledException" />
    </unwrapExceptions>
    <ignoreExceptions>
      <!--Adding an exception type here will prevent it being sent to Errordite.  In the case of a 
      System.Web.HttpException, you can further specify the HTTP response code to ignore.-->
      <!--<exception typeName="MyNamespace.MyExceptionTypeToIgnore" />-->
    </ignoreExceptions>
  </errordite>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>