<?xml version="1.0"?>
<configuration>
  <components>
    <component id="AutomationConfiguration"
           lifestyle="singleton"
           service="Errordite.Test.Automation.Configuration.AutomationConfiguration, Errordite.Test.Automation"
           type="Errordite.Test.Automation.Configuration.AutomationConfiguration, Errordite.Test.Automation">
      <parameters>
        <ErrorditeBaseUrl>http://dev-site.errordite.com</ErrorditeBaseUrl>
        <SampleBaseUrl>http://dev-samples.errordite.com</SampleBaseUrl>
      </parameters>
    </component>
  </components>
</configuration>
