
@using Errordite.Core.Extensions
@model Errordite.Web.Models.Issues.CommentViewModel

<div class="boxed-item history">
	<div class="item-bar">&nbsp;</div>	
	<div class="item-content">
	    <div class="item-info heading short">
	        Added By
	    </div>
	    <div class="item-info heading short" style="width:80%">
	        Added On
	    </div>
		<div class="item-info short" style="margin-bottom:5px;">
			@(Model.User)
		</div>
	    <div class="item-info short" style="margin-bottom:5px; width:80%">
	        @Model.DateAdded.ToLocalTimeFormatted()
	    </div>
		<div class="item-info heading full">
			Comment
		</div>
		<div class="item-info full">
			@Model.Comment
		</div>
	</div>
</div>