
@{
    ViewBag.Title = "Home"; 
    Layout = "~/Views/Shared/Master2.0.cshtml";
}

<div class="dark-container">
    <section class="centered">
        <div>
            <h1 class="superlarge">
                Making sense of your exception logs
            </h1>
        </div>
        <div>
            Try Errordite for free
        </div>
    </section> 
</div>
<div class="blue-container">
    <section class="centered">
        <div class="howitworks">
            <p><span>Errordite</span> receives all your application exceptions and groups together those that are the same - automatically or with rules you define. You then decide how to progress the errors. You can fix them, ignore them, or wait and see how often the error occurs.</p>
        </div>
    </section> 
</div>
 

