$(Master:EmailTemplateMasterPage)
$(Placeholder:Subject)Errordite organisation suspended
$(Placeholder:Body)

<tr>
    <td>
        <p>Hi $(UserName),</p>
	    <p>Your organisation <b>$(OrganisationName)</b> has been suspended, this is because $(SuspendedReason).</p>
	    <p>You will no longer be billed by Errordite.</p>
	    <p>Should you want to reactivate your account, please contact support <a href="$(ErrorditeUrl)/contact" target="_blank">here</a> within 15 days of this email.</p>
	    <p>If you dont reactivate your account within 30 days, all your organisations data will be removed from our systems.</p>
		<p>Sorry to see you go!</p>
    </td>
</tr>