$(Master:EmailTemplateMasterPage)
$(Placeholder:Subject)Added to Errordite organisation
$(Placeholder:Body)

<tr>
    <td>
        <p>Hi $(UserName),</p>
	    <p>You have been added to the <b>$(OrganisationName)</b> organisation on Errordite.</p> 
	    <p>The next time you log into Errordite you will see a drop down list in the top left hand corner of the screen showing all the organisations you are a member of, simply change the selected organisation to switch.</p>
        <p><a href="$(ErrorditeUrl)/authentication/signin">Sign in to Errordite</a></p>
    </td>
</tr>