<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
	<head>
		<title>$(Subject)</title>
	</head>
	<body style="font-family:Tahoma, Sans-Serif; color:#666666;">
		<table width="550" cellpadding="0" cellspacing="0" style="margin:0 auto; margin-top:10px;">  
			<tbody>				
				$(Body)																					
				<tr>
					<td style="border-top:1px solid #cecece; padding-top:10px; padding-bottom:20px;">
						<p style="width:400px; font-size:11px; margin-bottom:20px; margin-top:5px; color:#666666; line-height:1.5;">The Errordite Team</p>
					</td>
				</tr>
				<tr>
					<td style="border-top:1px solid #cecece; font-size:10px;">
						<p>&copy;$(CurrentYear) <a href="$(ErrorditeUrl)" target="_blank">Errordite</a></p>						
					</td>
				</tr>	
			</tbody>	

		</table>
	</body>
</html>