$(Master:EmailTemplateMasterPage)
$(Placeholder:Subject)$(ApplicationName): New issue $(IssueId) $(IssueName)
$(Placeholder:Body)

<tr>
    <td>
        <p>Hi,</p>
        <p>We have received an error which resulted in the creation of a new issue $(IssueId) - $(IssueName).</p>
        <p><a href="$(ErrorditeUrl)/issue/$(OrgId)/$(AppId)/$(IssueId)" target="_blank">Click here to view the issue</a></p>
    </td>
</tr>
<tr>
    <td>
        <span style="font-weight:bold">Application: </span>$(ApplicationName)
    </td>
</tr>
<tr>
    <td>
        <span style="font-weight:bold">Exception Type: </span>$(Type)
    </td>
</tr>
<tr>
    <td>
        <span style="font-weight:bold">Message: </span>$(ExceptionMessage)
    </td>
</tr>
<tr>
    <td>
        <span style="font-weight:bold">Method: </span>$(Method)
    </td>
</tr>