$(Master:EmailTemplateMasterPage)
$(Placeholder:Subject)Errordite subscription created successfully
$(Placeholder:Body)

<tr>
    <td>
        <p>Hi $(UserName),</p>
	    <p>Thank you for signing up to Errordite. Your organisation, <b>$(OrganisationName)</b> has been signed up to our '$(PlanName)' plan.</p>
	    <p>You will be billed <b>$(BillingAmount)</b> each month until you cancel your subscription, your unique subscription id is <b>$(SubscriptionId)</b>.</p>
	    <p>You can manage your subscription through your subscrition area on Errordite <a href="$(ErrorditeUrl)/subscription">here</a>.</p>
        <p>Thanks again, and enjoy using Errordite!</p>
    </td>
</tr>