$(Master:EmailTemplateMasterPage)
$(Placeholder:Subject)Errordite subscription cancelled
$(Placeholder:Body)

<tr>
    <td>
        <p>Hi $(UserName),</p>
	    <p>We have processed your request to cancel your Errordite subscription for <b>$(OrganisationName)</b>.</p>
	    <p>You will no longer be billed by Errordite, your account will remain active until $(AccountDisabledOn).</p>
	    <p>Should you wish to re-activate your subscription at any time, please <a href="$(ErrorditeUrl)/contact">contact us</a>.</p>
        <p>Thanks for using Errordite.</p>
    </td>
</tr>