$(Master:EmailTemplateMasterPage)
$(Placeholder:Subject)Your Errordite free trial has expired
$(Placeholder:Body)

<tr>
    <td>
        <p>Hi $(UserName),</p>
	    <p>Your Errordite free trial for '$(OrganisationName)' expired today, we hope you found Errordite a useful tool and wish to continue user the system.</p>
	    <p>To do so you will need to sign up to one of paid plans, you can do so from <a href="$(ErrorditeUrl)/subscription/signup" target="_blank">here</a></p>
        <p>Thanks for using Errordite!</p>
    </td>
</tr>