
@using Errordite.Web.Models.Organisation
@using Errordite.Web.Extensions
@model OrganisationViewModel
           
@{
    ViewBag.Title = "Downgrade Payment Plan";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Downgrade Payment Plan</h1>
    </div>
    
    @Html.Partial("Organisation/Tabs", OrganisationTab.Home)
}

<div class="help">
    <p>
        During the <strong>Errordite beta</strong> you are limited to the free trial plan which is equivalent to the <strong>Small Plan</strong>, see below for details. Once the Beta is complete your 
        organisation will begin its 1 month free trial, at the end of the free trial, you will be able to upgrade to the payment plan of your choice. See <a href="@Url.Pricing()">pricing</a> for 
        more information on our plans.
    </p>
    <div class="clear-space"></div>
    @Html.Partial("Help/SmallPlan")
</div>


