
@using Errordite.Web.Models.Organisation
@using Errordite.Web.Extensions
@model OrganisationSettingsViewModel
           
@{
    ViewBag.Title = "Settings";
}

@section contentHeader
{
    <div id="pagetitle">
        <h1><i class="icon-arrow-right"></i>Settings</h1>
    </div>
    
    @Html.Partial("Organisation/Tabs", OrganisationTab.Settings)
}

<div id="organisation">
    @using (Html.BeginForm("settimezone", "organisation"))
    {
        <div class="base left-wide">
            <h1>Update your organisation's settings</h1>
            <div class="base-content">
                <ul class="errorditeform">
                    <li>
                        @Html.LabelFor(m => m.TimezoneId, "Timezone")
                        @Html.DropDownListFor(m => m.TimezoneId, TimeZoneInfo.GetSystemTimeZones().Select(t => new SelectListItem {Selected = Model.TimezoneId == t.Id || (Model.TimezoneId == null && t.Id == "UTC"), Value = t.Id, Text = t.DisplayName}))
                    </li>
                </ul>
            </div>
        </div>
        <div class="buttons colfull">
            <input type="submit" value="Update" class="btn btn-success"/>
        </div>
    }
</div>


