<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="errordite" type="Errordite.Client.Configuration.ErrorditeConfigurationSection, Errordite.Client" />
  </configSections>
  <log4net configSource="Config\log4net.config" />
  <connectionStrings>
    <add name="RavenDB" connectionString="Url = http://dev-raven.errordite.com;user=errordite_raven;password=Err0rD1t3_RVN$" />
  </connectionStrings>
  <castle>
    <include uri="file://Config/errordite.config" />
    <include uri="file://Config/email.config" />
    <include uri="file://Config/automation.config" />
    <include uri="file://Config/cache.config" />
  </castle>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <!-- this makes selenium use the older version of json.net (which raven uses)-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="4.5.0.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!--without this *something* is asking for 2.14.0.0; I don't know what or why...-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebDriver" culture="neutral" publicKeyToken="1c2bd1631853048f" />
        <bindingRedirect oldVersion="2.14.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <errordite token="[YOUR-TOKEN-HERE]" enabled="true">
    <dataCollectors>
      <!--The DataCollectors configured here control the data collected and sent to Errordite with the error.
      The HttpContextDataCollector collects information about the current HttpContext. You can create custom 
      DataCollectors - just create a class that implements Errordite.Client.Interfaces.IDataCollector and add 
      a reference to it in a dataCollector tag. 

      The prefix specified is prepended to all collected data items for display in Errordite.  
      To send an error to Errordite at any time just call ErrorditeClient.ReportException();   -->
      <dataCollector prefix="HttpContext" type="Errordite.Client.DataCollectors.HttpContextDataCollector, Errordite.Client" />
    </dataCollectors>
    <sanitiseParams>
      <!--To prevent sensitive data being sent to Errordite by the HttpContextDataCollector, any form parameters specified here will be obscured.
      Values for the match attribute can be "Exact" or "Contains". -->
      <param name="Password" match="Contains" />
    </sanitiseParams>
    <unwrapExceptions>
      <!--To strip off outer exceptions of particular types that are merely "wrapper" exceptions and do
      not contain any useful information themselves, add a type here.  In case of a matching exception,
      the inner exception is sent instead. -->
      <exception typeName="System.Web.HttpUnhandledException" />
    </unwrapExceptions>
    <ignoreExceptions>
      <!--Adding an exception type here will prevent it being sent to Errordite.  In the case of a 
      System.Web.HttpException, you can further specify the HTTP response code to ignore.-->
      <!--<exception typeName="MyNamespace.MyExceptionTypeToIgnore" />-->
    </ignoreExceptions>
  </errordite>
</configuration>