<?xml version="1.0"?>
<configuration>
  <components>
    <component id="PagingConfiguration"
           lifestyle="singleton"
           service="Errordite.Core.Paging.IPagingConfiguration, Errordite.Core"
           type="Errordite.Core.Paging.PagingConfiguration, Errordite.Core">
      <parameters>
        <PageSelectorCount>4</PageSelectorCount>
        <NormalPageSize>15</NormalPageSize>
        <LargePageSize>50</LargePageSize>
        <PageSizes>
          <list>
            <item>15</item>
            <item>30</item>
            <item>50</item>
          </list>
        </PageSizes>
      </parameters>
    </component>
  </components>
</configuration>
