
@using Errordite.Web.Models.Organisation
@model OrganisationViewModel
           
@{
    ViewBag.Title = "Billing";
}

@section header
{
    @Html.Partial("Admin/Tabs") 
}

<section class="centered">
    <div class="content">
        <p>You have no billing history</p>
    </div>
</section>


