
@using Errordite.Web.Models.Organisation
@model OrganisationViewModel
           
@{
    ViewBag.Title = "Billing";
}

@section header
{
    @Html.Partial("Admin/Tabs") 
}

<section class="centered">
    <h1>Billing History</h1>
    <p>You have no billing history</p>
</section>


