
@using Errordite.Web.Models.Organisation
@using Errordite.Web.Extensions
@model OrganisationViewModel
           
@{
    ViewBag.Title = "Downgrade Payment Plan";
    Layout = "~/Views/Shared/Master2.0.cshtml";
}

@section header
{
    @Html.Partial("Admin/Tabs") 
}

<section class="centered">
    <p>
        During the <strong>Errordite beta</strong> you are limited to the free trial plan which is equivalent to the <strong>Small Plan</strong>, see below for details. Once the Beta is complete your 
        organisation will begin its 1 month free trial, at the end of the free trial, you will be able to upgrade to the payment plan of your choice. See <a href="@Url.Pricing()">pricing</a> for 
        more information on our plans.
    </p>
</section>


