
@using Errordite.Web.Models.Organisation
@model OrganisationSettingsViewModel
           
@{
    ViewBag.Title = "Settings";
}

@section header
{
    @Html.Partial("Admin/Tabs") 
}

<section class="centered">
    <div class="content">
        <h1>Organisation settings</h1>
        <div class="form">
            @using (Html.BeginForm("settimezone", "admin"))
            {
                <ul>
                    <li>
                        @Html.LabelFor(m => m.TimezoneId, "Timezone")
                        @Html.DropDownListFor(m => m.TimezoneId, TimeZoneInfo.GetSystemTimeZones().Select(t => new SelectListItem {Selected = Model.TimezoneId == t.Id || (Model.TimezoneId == null && t.Id == "UTC"), Value = t.Id, Text = t.DisplayName}))
                        <i rel="tooltip" title="The default timezone for your application. Users can set their own timezone in their personal settings." class="icon-info"></i>
                    </li>
                    <li>
                        <input type="submit" value="Save Changes" class="btn btn-medium btn-blue"/>
                    </li>
                </ul>
            }
        </div>
    </div>
</section>


